body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  margin: 0px;
}

table > caption {
  text-align: left;
  font-size: 22px;
}

td {
  width: 240px;
  border: 1px solid #8A8A8A;
}

p, table, ul, ol, dl {
  color: black;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 400;  
}

iframe.sheets-embed {
  border: 1px solid #8A8A8A;
}

/* Input styling */

label, h1, h2, h3, h4, h5, h6 .small-caption {
  color: black;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 700;
}

a {
  color: #041a88;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
}

.small-caption {
  font-size: 14px;
  margin: 20px 0px;
}

.error-message {
  color: red;
}

label {
  display: block;
  font-size: 22px;
  width: 280px;
}

label+label,
select+label {
  margin-top: 20px;
}

input, select {
  display: block;
  width: 250px;
  padding: 0;
  height: 26px;
  border: 1px solid #8A8A8A;
}

input[type="submit"] {
  margin-top: 40px;
  height: 26px;
}

.form-container {
  position: relative;
}

.flag-container {
  padding-right: 80px;
}
.en-text, .fi-text {
  display: none;
}

.flag {
  float: right;
  width: 24px;
  cursor: pointer;
  margin-left: 6px;
}

/* Content styling */
#loader,
#form-loader {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

#page-content {
  position: relative;
  left: 0; right: 0;
  top: 340px;
  min-width: 800px;
  border: 1px #425500 solid;
  background-color: rgba(78, 24, 1, 0.8);
  width: 50%;
  margin: 0px auto;
  margin-bottom: 50px;
}

#partial-container {
  clear: right;
  margin: 40px 80px;
  padding: 20px 0px;
  background-color: rgba(240, 240, 240, 0.8);
}

.greatwave {
  background-color: rgba(255, 255, 255, 0.3);
}

#partial-container  h1 {
  text-align: center;
  font-size: 34px;
}

#partial-container  h2 {
  text-align: center;
  font-size: 22px;
}

#partial-container h3 {
  margin-bottom: 0.2em;
  margin-left: 40px;
  margin-right: 40px;
}

#partial-container  p,
table, ul, ol, dl, iframe {
  font-size: 18px;
  margin-top: 0.1em;
  margin-bottom: 0.5em;
  margin-left: 40px;
  margin-right: 40px;
}

#partial-container  p + h1 {
  margin-top: 60px;
}

/* Menu styling */
.menu {
  min-width: 800px;
  width: 100%;
  position: relative;
}

.menu-center-piece > a:hover {
  background-size: 250px 250px;
}

.menu-center-piece > a {
  width: 260px;
  height: 260px;
  border: 6px #425500 solid;
  border-radius: 160px;
  background-color: #3e1300;
  background-image: url('../img/logo.png');
  background-repeat:no-repeat;
  background-size: 240px 240px;
  background-position:center; 
  position: absolute;
  top: -36px;
  left: 0; right: 0;
  margin: 0 auto;
  z-index: 10;
}

.menu-cup {
  position: absolute;
  -webkit-transition: top 0.2s; /* For Safari 3.1 to 6.0 */
  transition: top 0.2s;
}

.menu-cup > a {
  width: 60px;
  height: 105px;
  border-radius: 8px;
  border: 4px #425500 solid;
  background-color: #3e1300;
  display: block;
  position: relative;
  top: 0; left: 0; right: 0; bottom 0;

  background-image: url('../img/pokaali.png');
  background-repeat:no-repeat;
  background-size: 45px 52px;
  background-position: 7px 43px; 
}

#menu-cup-1{
  top: 190px;
  left: 50%;
  margin-left: -33px;
}

#menu-cup-1:hover{
  top: 215px;
}

.menu-selector {
  position: absolute;
  -webkit-transition: margin-left 0.2s; /* For Safari 3.1 to 6.0 */
  transition: margin-left 0.2s;
}

.menu-selector > a {
  height: 40px;
  border-radius: 8px;
  border: 4px #425500 solid;
  background-color: #3e1300;
  display: block;
  position: relative;
  top: 0; left: 0; right: 0; bottom: 0;

  text-decoration: none;
  color: #CFCFCF;
  line-height: 40px;
  font-size: 18px;
  font-family: 'Homenaje', sans-serif;
}

.menu-selector-left > a {
  text-align: left;
  padding-left: 10px;
}

.menu-selector-right > a {
  text-align: right;
  padding-right: 10px;
}

#menu-selector-left-1 {
  top: 16px;
  left: 50%;
  margin-left: -308px;
  width: 250px;
}

#menu-selector-left-1:hover {
  margin-left: -338px;
}

#menu-selector-left-2 {
  top: 76px;
  left: 50%;
  margin-left: -278px;
  width: 250px;
}

#menu-selector-left-2:hover {
  margin-left: -308px;
}

#menu-selector-left-3 {
  top: 136px;
  left: 50%;
  margin-left: -248px;
  width: 250px;
}

#menu-selector-left-3:hover {
  margin-left: -278px;
}

#menu-selector-right-1 {
  top: 16px;
  left: 50%;
  margin-left: 50px;
  width: 250px;
}

#menu-selector-right-1:hover {
  margin-left: 80px;
}

#menu-selector-right-2 {
  top: 76px;
  left: 50%;
  margin-left: 20px;
  width: 250px;
}

#menu-selector-right-2:hover {
  margin-left: 50px;
}

#menu-selector-right-3 {
  top: 136px;
  left: 50%;
  margin-left: -10px;
  width: 250px;
}

#menu-selector-right-3:hover {
  margin-left: 20px;
}
