<h1 class="fi-text">Tervetuloa!</h1>
<h1 class="en-text">Welcome!</h1>
<p class="fi-text">Olet saapunut Otaniemessä toimivan Aalto Daigaku Maajanbu ry:n nettisivuille. Täältä löytyy muun muassa ajankohtaista asiaa yhdistyksen toiminnasta ja liittymislomakkeet halukkaille uusille jäsenille.</p>

<p class="fi-text"><b>Kesä 2023:</b> Viikottaiset peli-illat klo 17 keskiviikkoisin meidän valvomassa HOAS:n kerhotilassa osoitteessa <a href="https://goo.gl/maps/FvbA1wVYxsB2">Servinkuja 5</a>. Lisää tietoa saatavilla Discordista. Mahdolliset poikkeusajat ilmoitetaan Discordissa ja sähköpostilla. (Viimeksi päivitetty 19.07.2023)</p>

<p class="en-text">You've arrived at the website of Aalto Daigaku Maajanbu, a Mahjong association located in Otaniemi, Finland. Here you can find information concerning the association, as well as membership application forms.</p>

<p class="en-text"><b>Summer 2023:</b> Weekly mahjong evenings on Wednesdays starting at 5pm at the HOAS clubroom supervised by us at <a href="https://goo.gl/maps/FvbA1wVYxsB2">Servinkuja 5</a>. For more information, join the Discord. Possible exceptions are communicated by Discord and email. (Last updated 19.07.2023))</p>

<h1 class="fi-text">Ajankohtaista</h1>
<h1 class="en-text">Latest news</h1>

<div class="greatwave">
  <h3>19.03.2024 - <a href="#/turnaus-gw24">Great Wave 2024</a></h3>
  <p class="fi-text">Aalto Daigaku Maajanbu ry järjestää kahdeksan hanchanin MERS-rekisteröidyn Great Wave-turnauksen jälleen. Turnaus pidetään kesäkuussa Taproom d20:ssä Otaniemessä, pelaajamääränä alustavasti 32. Lisätietoja tulee pian. <a href="#/turnaus-gw24">Infoa turnauksesta ja ohjeet osallistumiseen löydät täältä.</a></p>
  <p class="en-text">The Great Wave tournament will be returning in June. The tournament will be a 8-hanchan MERS tournament held at the Taproom d20 bar in Otaniemi, Espoo. There will be 32 seats, with a 9th table still being deliberated. More details will be finalized soon. <a href="#/turnaus-gw24">Further information about the tournament and registration instructions can be found here.</a></p>
</div>

<div class="greatwave">
  <h3>27.01.2024 - <a href="#/turnaus-ah24">Aallonharja 2024</a></h3>
  <p class="fi-text">Aalto Daigaku Maajanbu ry järjestää kahdentoista hanchanin Aallonharja-turnauksen. Pelaajia mahtuu 32. Turnaus pidetään pääsiäisviikonloppuna 29.-31.03.2024 Taproom d20:ssä Otaniemessä. <a href="#/turnaus-ah24">Infoa turnauksesta ja ohjeet osallistumiseen löydät täältä.</a></p>
  <p class="en-text">We will be holding the Aallonharja 2024 tournament over the Easter weekend, from Friday March 29th to Sunday March 31st. The tournament has room for 32 players and will be held at the Taproom d20 bar in Otaniemi, Espoo. <a href="#/turnaus-ah24">Further information about the tournament and registration instructions can be found here.</a></p>
</div>

<div>
 <h3 class="fi-text"> Yhdistyksen syyskokous</h3>
 <p class="fi-text"> 
Yhdistyksen syyskokous pidetään lauantaina 9.12. klo 15 alkaen. Kokous pidetään yhdistyksen kerhohuoneella Servinkuja 5B:ssä, ja osallistua voi myös <a href="https://discord.gg/HmfAcWd">yhdistyksen Discord-kanavalla</a>. Luonnollisesti, kaikki jäsenet ovat tervetulleita.
</p>
<h3 class="en-text">Fall club meeting</h3>
 <p class="en-text"> 
Our annual fall club meeting will be held on Saturday, December 9th, at 3 pm. The meeting will be held at our clubroom in Servinkuja 5B, and you can also participate remotely on <a href="https://discord.gg/HmfAcWd">our Discord channel</a>.  All members are free to participate.
</p>
</div>

<div class="greatwave">
  <h3>19.07.2023 - <a href="#/turnaustulokset">Great Wave 2023</a></h3>
  <p class="fi-text">Aalto Daigaku Maajanbu ry järjestää kahdeksan hanchanin MERS-rekisteröidyn Great Wave-turnauksen jälleen. Pelaajia mahtuu 48. Turnaus pidetään viikonloppuna 21-22.10.2023 Taproom d20:ssä Otaniemessä. <a href="#/turnaustulokset">Infoa turnauksesta ja ohjeet osallistumiseen löydät täältä.</a> <a href="/img/Great_Wave_2023.ics">Saatavilla on myös kalenteritapahtumatiedosto.</a></p>
  <p class="en-text">The Great Wave tournament returns on the weekend of 21st-22nd October 2023. The tournament will be a max. 48-player MERS tournament held at the Taproom d20 bar in Otaniemi, Espoo. <a href="#/turnaustulokset">Further information about the tournament and registration instructions can be found here.</a> <a href="img/Great_Wave_2023.ics">A calendar import file is also available.</a></p>
</div>

<div class="greatwave">
  <h3>20.07.2021</h3>
  <p class="fi-text">
    Hei! <br/>
    Aalto Daigaku Maajanbu järjestää nettimahjongturnauksen 14.8 lauantaina.<br/>
    Turnauksessa pelataan 5 Hanchania MahjongSoul:ssa <a href="http://mahjong-europe.org/portal/images/docs/Riichi-rules-2016-EN.pdf">EMA:n Riichi -säännöillä</a>.<br/>
    Lisätietoa löytyy <a href="#/turnaus-online21">täältä</a>.
  </p>
  <p class="en-text">
    Hey, All!<br/>
    Aalto Daigaku Maajanbu will host an online mahjong tournament on August 14th, Saturday. <br/>
    The tournament will be a 5 Hanchan tournament and all matches will be played on MahjongSoul under <a href="http://mahjong-europe.org/portal/images/docs/Riichi-rules-2016-EN.pdf">EMA Riichi rules</a>. <br/>
    For more information, see the <a href="#/turnaus-online21">tournament page</a>.
  </p>
</div>

<div class="greatwave">
<h3>12.02.2020 - Great Wave 2020</h3>
<p class="fi-text"><b>Great Wave 2020 on peruttu.</b> Lisätietoa löydät <a href="#/turnaus-gw20">täältä</a>.</p>
<p class="en-text"><b>The Great Wave 2020 tournament has been cancelled.</b> More info <a href="#/turnaus-gw20">here</a>.</p>
</div>

<div class="greatwave">
<h3>22.04.2019</h3>
<p class="fi-text">Great Wave 2019-turnaus on ohi, ja yhdistys kiittää osallistujia. Turnauksen kärkikolmikko oli: 1. sijalla Yuanqi Shan, 2. sijalla Samu Viitanen, ja 3. sijalla Jouni Kuitunen. Turnauksesta on myös lisätty pistetaulukon sisältävä pätkä <a href="#/turnaustulokset">turnaushistoriasivullemme</a>.</p>
<p class="en-text">The Great Wave 2019 tournament is over, and we would like to thank all participants. The top three players were: #1 Yuanqi Shan, #2 Samu Viitanen, #3 Jouni Kuitunen. An entry containing the full scoreboard has also been added to <a href="#/turnaustulokset">our tournament history page</a>.</p>
</div>


<h3>26.03.2019</h3>
<p class="fi-text">Yhdistyksen vuositurnaus ja -kokous järjestetään Servinkuja 5 B kerhotilassa lauantaina 30.3.2019 klo 12-20. Kokous tapahtuu noin 15:15. Kerhotilaan ja siten myös turnaukseen mahtuu enintään 16 pelaajaa. Ilmoittautukaa pelaajaksi viimeistään 27.03.2019 lähettämällä sähköpostia osoitteeseen mahjong-hallitus@list.ayy.fi tai huutelemalla Discordissa (petzku#1138 tai TheMusserO#5611). Ei osallistumismaksua. Turnaus pelataan <a href="https://mahjong.ayy.fi/docs/mahjongsaannot.pdf">yhdistyksen säännöillä</a>. <b>HUOM! TÄMÄ ON ERI TURNAUS KUIN GREAT WAVE 2019</b>.</p> 
<p class="fi-text">Osallistujat:</br> 
1. pilperi</br>
2. kaurakeksi</br>
3. endo</br>
4. petzku</br>
5. mussero</br>
6. elda</br>
7. hk</br>
</br>
päivitetty viimeksi 26.3.2019</p>
<p class="en-text">The annual club meeting and tournament will be held at Servinkuja 5 B clubroom on Sat 30.3.2019 between 12:00 and 20:00. The tournament can seat 16 players. You can register for the tournament by sending email to mahjong-hallitus@list.ayy.fi or sending us a message on Discord (petzku#1138 or TheMusserO#5611). Registration deadline 27.03.2019. No participation fee. <a href="https://mahjong.ayy.fi/docs/mahjongsaannot.pdf">Club house rules</a> will be used in the tournament. <b>PLEASE NOTE THAT THIS IS NOT THE GREAT WAVE 2019 TOURNAMENT</b>.</p> 
<p class="en-text">Participants: </br> 
1. pilperi</br>
2. kaurakeksi</br>
3. endo</br>
4. petzku</br>
5. mussero</br>
6. elda</br>
7. hk</br>
</br>
last updated 26.3.2019</p>

<div class="greatwave">
<h3>22.01.2019 - Great Wave 2019</h3>
<p class="fi-text">Aalto Daigaku Maajanbu ry järjestää kahdeksan hanchanin MERS-rekisteröidyn Great Wave-turnauksen jälleen. Turnaus pidetään viikonloppuna 20-21.4.2019 Aalto-yliopiston Design Factoryllä Otaniemessä. Paikkoja on jopa 64 pelaajalle! Turnausta edeltävänä perjantaina pidetään <a href="http://www.mahjongfinland.fi/?p=597">EMA-tuomariseminaari</a>. Infoa turnauksesta ja ohjeet osallistumiseen löydät <a href="#/turnaustulokset">täältä</a>.</p>
<p class="en-text">Aalto Daigaku Maajanbu ry is organizing the fourth Great Wave tournament on the weekend of 20th-21st April 2019. The tournament will be a MERS tournament with 64 available seats, held in Otaniemi. A <a href="http://www.mahjongfinland.fi/?p=597">EMA referee seminar</a> will be organized on the preceding Friday. Further information about the tournament and registration instructions can be found <a href="#/turnaustulokset">here</a>.</p>
</div>

<h3>05.11.2018</h3>
<p class="fi-text">Aalto Daigaku Maajanbu ry:n syksyn mahjong-turnaus ja kokous järjestetään Servinkuja 5B kerhotilassa lauantaina 10.11.2018 klo 12-20. Sääntöinä käytetään kerhon omia sääntöjä, jotka löytyvät <a href="https://mahjong.ayy.fi/docs/mahjongsaannot.pdf">täältä</a>.
<br/>
<br/>
Pelaajalista:
<br/>
1. Iiro Kumpulainen<br/>
2. Ossi Hirvola<br/>
3. Petteri Huuskonen<br/>
4. Jouni Lehtinen<br/>
5. Konsta Lensu<br/>
6. Jouni Kuitunen<br/>
7. Samu Viitanen<br/>
8. Sakari Helokunnas<br/>
<br/>
Ilmoita, jos et olekaan pääsemässä pelaamaan. Pöydät ovat nyt täynnä.</p>
<p class="en-text">Aalto Daigaku Maajanbu’s fall tournament and meeting will be held at Servinkuja 5B clubroom on Saturday 10th of November 2018 12pm-8pm. Rules can be found <a href="https://mahjong.ayy.fi/docs/mahjongsaannot.pdf">here</a>.
<br/>
<br/>
Participant list:<br/>
1. Iiro Kumpulainen<br/>
2. Ossi Hirvola<br/>
3. Petteri Huuskonen<br/>
4. Jouni Lehtinen<br/>
5. Konsta Lensu<br/>
6. Jouni Kuitunen<br/>
7. Samu Viitanen<br/>
8. Sakari Helokunnas</br>
<br/>
The tables are now full.
<br/>
</p>

<div class="greatwave">
<h3>25.3.2018</h3>
<p class="fi-text">Great Wave 2018 turnaus on ohi. Kiitos kaikille osallistuneille! Turnauksen voittajat olivat: 1. sija: Ossi Hirvola, 2. sija: Konsta Lensu, 3. sija: Jesper Nøhr. Enemmän tietoa <a href="#/turnaustulokset">täällä</a>.</p>
<p class="en-text">Great Wave 2018 tournament is over. Thanks to everyone who participated! Winners of the tournament are: 1st place: Ossi Hirvola, 2nd place: Konsta Lensu, 3rd place: Jesper Nøhr. More information <a href="#/turnaustulokset">here</a>.</p>
</div>

<h3>24.2.2018</h3>
<p class="fi-text">Yhdistyksen kevätkokous ja vuositurnaus. Turnauksen voittajat olivat: 1. sija: Iiro Kumpulainen, 2. sija: Ossi Hirvola, 3. sija: Jouni Lehtinen. Enemmän tietoa <a href="#/turnaustulokset">täällä</a>.</p>
<p class="en-text">Spring meeting and annual tournament. Winners of the tournament are: 1st place: Iiro Kumpulainen, 2nd place: Ossi Hirvola, 3rd place: Jouni Lehtinen. More information <a href="#/turnaustulokset">here</a>.</p>

<h3>23.12.2017</h3>
<p class="fi-text">Yhdistyksen kevätkokous ja vuositurnaus järjestetään Servinkuja 5 B kerhotilassa lauantaina 24.2.2017 klo 12-20. Turnaukseen mahtuu 16 pelaajaa. Ilmoittautukaa pelaajaksi lähettämällä sähköpostia osoitteeseen mahjong-hallitus@list.ayy.fi tai huutelemalla irkissä. Ei osallistumismaksua. Turnaus on MFRS-turnaus. <b>HUOM! TÄMÄ ON ERI KUIN GREAT WAVE 2018 TURNAUS</b>.</p> 
<p class="fi-text">Osallistujat:</br> 
1. kaurakeksi</br>
2. juusto</br>
3. pilperi</br>
4. jgke</br>
5. ultineet</br>
6. petzku</br>
7. hk</br>
8. smehu</br>
9. mussero</br>
10. rölli</br>
11. Iapetus</br>
12. avalon</br>
13. endo</br>
</br>
päivitetty viimeksi 23.2.2018</p>
<p class="en-text">Spring meeting and annual tournament will be held at Servinkuja 5 B clubroom on saturday 24.2.2017 at 12pm-8pm. The tournament has place for 16 players. You can register for the tournament by sending email to mahjong-hallitus@list.ayy.fi or sending us a message on IRC. No participation fee. <b>PLEASE NOTE THAT THIS IS NOT THE GREAT WAVE 2018 TOURNAMENT</b>.</p> 
<p class="en-text">Participants: </br> 
1. kaurakeksi</br>
2. juusto</br>
3. pilperi</br>
4. jgke</br>
5. ultineet</br>
6. petzku</br>
7. hk</br>
8. smehu</br>
9. mussero</br>
10. rölli</br>
11. Iapetus</br>
12. avalon</br>
13. endo</br>
</br>
last updated 23.2.2018</p>

<div class="greatwave">
<h3>18.12.2017 - Great Wave 2018</h3>
<p class="fi-text">Aalto Daigaku Maajanbu ry järjestää viikonloppuna 24-25.3.2018 kahdeksan hanchanin Riichi mahjong -turnauksen Helsingin ytimessä Rakennustieto oy:n toimistolla. Paikkoja on jopa 64 pelaajalle! Infoa turnauksesta ja ohjeet osallistumiseen löydät <a href="#/turnaustulokset">täältä</a>.</p>
<p class="en-text">Aalto Daigaku Maajanbu ry is organizing the third Great Wave tournament on Sat-Sun 24-25.3.2018. The tournament will be a MERS tournament. Information about the tournament and instructions for registering can be found <a href="#/turnaustulokset">here</a>.</p>
</div>

<h3>10.12.2017</h3>
<p class="fi-text">Yhdistyksen syyskokous ja -turnaus. Kokouksessa valittiin uusi hallitus ja toimihenkilöt vuodeksi 2017. Turnauksen voittajat olivat: 1. sija: Iiro Kumpulainen, 2. sija: Ossi Hirvola, 3. sija: Jouni Kuitunen. Enemmän tietoa <a href="#/turnaustulokset">täällä</a>.</p>
<p class="en-text">Autumn meeting and tournament. A new board of directors and new officials were chosen for 2017. Winners of the tournament are: 1st place: Iiro Kumpulainen, 2nd place: Ossi Hirvola, 3rd place: Jouni Kuitunen. More information <a href="#/turnaustulokset">here</a>.</p>

<h3>01.12.2017</h3>
<p class="fi-text">Aalto Daigaku Maajanbu ry:n syksyn mahjong-turnaus järjestetään Servinkuja 5B kerhotilassa sunnuntaina 10.12.2017 klo 12-20. Sääntöinä käytetään kerhon omia sääntöjä, jotka löytyvät <a href="https://mahjong.ayy.fi/docs/mahjongsaannot.pdf">täältä</a>.
<br/>
<br/>
Pelaajalista:<br/>
1. Juusto<br/>
2. Samu<br/>
3. Simppa<br/>
4. Hannikainen<br/>
5. Pilperi<br/>
6. MusserO<br/>
7. Petteri Huuskonen<br/>
8. Keksi<br/>
9. HK<br/>
10. Avalon<br/>
11. Iapetus<br/>
12. Julius<br/>
<br/>
Ilmoita, jos et olekaan pääsemässä pelaamaan. Mukaan mahtuu vielä mahdollisesti pelaamaan, kysele Discordissa, irkissä tai sähköpostitse. </p>
<p class="en-text">Aalto Daigaku Maajanbu’s fall tournament will be held at Servinkuja 5B clubroom on Saturday 10th of December 2017 12am-8pm. Rules can be found <a href="https://mahjong.ayy.fi/docs/mahjongsaannot.pdf">here</a>. At the same time we’ll be holding our fall meeting. Fall meeting will be held after 2 hanchans, approx. at 3:15pm. Every club member is welcome to join the fall meeting.
<br/>
<br/>
Participant list:<br/>
1. Juusto<br/>
2. Samu<br/>
3. Simppa<br/>
4. Hannikainen<br/>
5. Pilperi<br/>
6. MusserO<br/>
7. Petteri Huuskonen<br/>
8. Keksi<br/>
9. HK<br/>
10. Avalon<br/>
11. Iapetus<br/>
12. Julius<br/>
<br/>
There's still possibly space for more players, ask in Discord, IRC or email.<br/>

<br/>
</p>
<h3>19.11.2017</h3>
<p class="fi-text">Mahjongin SM 2017 on ohi. Kiitos kaikille osallistuneille! Turnauksen voittajat olivat: 1. sija: Konsta Lensu, 2. sija: Jeremia Kunnari, 3. sija: Henri Kumpulainen. Enemmän tietoa <a href="#/turnaustulokset">täällä</a>.</p>
<p class="en-text">Finnish Riichi Mahjong Championship is over. Thanks to everyone who participated! Winners of the tournament are: 1st place: Konsta Lensu, 2nd place: Jeremia Kunnari, 3rd place: Henri Kumpulainen. More information <a href="#/turnaustulokset">here</a>.</p>

<h3>13.9.2017</h3>
<p class="fi-text"><b>Mahjongin SM 2017:</b> Aalto Daigaku Maajanbu ry ja Mahjong Finland järjestävät viikonloppuna 18-19.11.2017 ensimmäiset Mahjongin Suomenmestaruuskilpailut! Turnaus on kahdeksan hanchania pitkä, ja pidetään Otaniemessä Energy Garagella. Turnauksen pisteet tullaan ottamaan huomioon Euroopan ranking-listoilla painoarvolla MERS1, sekä tietysti myös Suomen MFRS-järjestelmässä. Paikkoja on jopa 64 pelaajalle! Infoa turnauksesta ja ohjeet osallistumiseen löydät <a href="#/turnaustulokset">täältä</a>.</p>
<p class="en-text"><b>Finnish Riichi Mahjong Championships: </b>Aalto Daigaku Maajanbu ry and Mahjong Finland are organizing the first official Finnish Riichi Mahjong Championships. This two-day MERS1 tournament will be held at Energy Garage in Otaniemi, Espoo on 18-19.11.2017. Information about the tournament and instructions for registering can be found <a href="#/turnaustulokset">here</a>.</p>

<h3>1.4.2017</h3>
<p class="fi-text">Yhdistyksellemme on luotu Discord-keskustelu. Pääset liittymään keskusteluun tämän linkin kautta: <a href="https://discord.gg/HmfAcWd">linkki</a>. PS. Tämä ei ole aprillipila.</p>
<p class="en-text">Our association has got a Discord chat. You can join the chat through this link: <a href="https://discord.gg/HmfAcWd">link</a>. PS. This is no April Fools'.</p>

<div class="greatwave">
<h3>26.3.2017</h3>
<p class="fi-text">Great Wave 2017 turnaus on ohi. Kiitos kaikille osallistuneille! Turnauksen voittajat olivat: 1. sija: Sakari Helokunnas, 2. sija: Janne Hannikainen, 3. sija: Yuanqi Shan. Enemmän tietoa <a href="#/turnaustulokset">täällä</a>.</p>
<p class="en-text">Great Wave 2017 tournament is over. Thanks to everyone who participated! Winners of the tournament are: 1st place: Sakari Helokunnas, 2nd place: Janne Hannikainen, 3rd place: Yuanqi Shan. More information <a href="#/turnaustulokset">here</a>.</p>
</div>

<h3>11.3.2017</h3>
<p class="fi-text">Yhdistyksen kevätkokous ja -turnaus. Turnauksen alussa päätimme, että osallistujien vähäisen määrän vuoksi päätettiin turnaus järjestää ilman MFRS-statusta (eli se ei vaikuta MFRS sijoituksiin). Turnauksen voittajat olivat: 1. sija: Sakari Helokunnas, 2. sija: Konsta Lensu, 3. sija: Samu Viitanen. Enemmän tietoa <a href="#/turnaustulokset">täällä</a>.</p>
<p class="en-text">Spring meeting and annual tournament. Due to the low amount of participants we decided in the beginning that the tournament would not have MFRS-status (so it doesn't affect MFRS rankings). Winners of the tournament are: 1st place: Sakari Helokunnas, 2nd place: Konsta Lensu, 3rd place: Samu Viitanen. More information <a href="#/turnaustulokset">here</a>.</p>

<h3>23.2.2017</h3>
<p class="fi-text">Yhdistyksen kevätkokous ja vuositurnaus järjestetään Servinkuja 5 B kerhotilassa lauantaina 11.3.2017 klo 12-20. Turnaukseen mahtuu 16 pelaajaa. Ilmoittautumisohjeet on lähetetty kaikille jäsenille sähköpostitse. Ilmoittautukaa pelaajaksi lähettämällä sähköpostia osoitteeseen <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a> tai huutelemalla irkissä. Turnaukseen mahtuu 16 pelaajaa. Ei osallistumismaksua. <b>HUOM! TÄMÄ ON ERI KUIN GREAT WAVE 2017 TURNAUS.</b> 
<br/>
Osallistujat: 
<br/>
1. Samu <br/>
2. Ossi <br/>
3. Sakke <br/>
4. HK <br/>
5. Lensu <br/>
6. Iiro <br/>
7. Hannikainen <br/>
8. Yuanqi <br/>
</p>
<p class="en-text">Spring meeting and annual tournament will be held at Servinkuja 5 B clubroom on saturday 11.3.2017 at 12pm-8pm. The tournament has place for 16 players. Participation instructions have been sent to all members by email. You can register for the tournament by sending email to mahjong-hallitus@list.ayy.fi or sending us a message on IRC. Tournament has space for 16 players. No participation fee. <b>PLEASE NOTE THAT THIS IS NOT THE GREAT WAVE 2017 TOURNAMENT.</b>
<br/>
Participants: 
<br/>
1. Samu <br/>
2. Ossi <br/>
3. Sakke <br/>
4. HK <br/>
5. Lensu <br/>
6. Iiro <br/>
7. Hannikainen <br/>
8. Yuanqi <br/>
</p>

<div class="greatwave">
<h3>27.1.2017 - Great Wave 2017</h3>
<p class="fi-text">Aalto Daigaku Maajanbu ry järjestää viikonloppuna 25-26.3.2017 Espoon Otaniemessä Energy Garagella kahdeksan hanchanin Riichi mahjong -turnauksen. Turnauksen pisteet tullaan ottamaan huomioon Euroopan ranking-listoilla painoarvolla MERS2. Paikkoja on jopa 64 pelaajalle! Infoa turnauksesta ja ohjeet osallistumiseen löydät <a href="#/turnaustulokset">täältä</a>.</p>
<p class="en-text">Aalto Daigaku Maajanbu ry is organizing a two-day MERS2 Riichi mahjong tournament at Energy Garage in Otaniemi, Espoo on 25-26.3.2017. Information about the tournament and instructions for registering can be found <a href="#/turnaustulokset">here</a>.</p>
</div>

<h3>10.12.2016</h3>
<p class="fi-text">Yhdistyksen syyskokous ja -turnaus. Kokouksessa valittiin uusi hallitus ja toimihenkilöt vuodeksi 2016. Turnauksen voittajat olivat: 1. sija: Eero Ojala, 2. sija: Janne Hannikainen, 3. sija: Simeoni Kangasmaa. Enemmän tietoa <a href="#/turnaustulokset">täällä</a>.</p>
<p class="en-text">Autumn meeting and tournament. A new board of directors and new officials were chosen for 2016. Winners of the tournament are: 1st place: Eero Ojala, 2nd place: Janne Hannikainen, 3rd place: Simeoni Kangasmaa. More information <a href="#/turnaustulokset">here</a>.</p>

<h3>4.12.2016</h3>
<p class="fi-text">Aalto Daigaku Maajanbu ry järjestää mahjong-turnauksen Servinkuja 5B'n kerhotilassa lauantaina 10.12. klo 12-20. Pelaajia mahtuu mukaan 16.
<br>
Osanottomaksua ei ole. Palkintoja on tai ei ole.
<br>
<br>
Ilmoittautuminen:
<br>
#aaltomahjong @ IrcNet
<br>
mahjong-hallitus@list.ayy.fi
<br>
Osallistujat:<br>
1. Henri Kumpulainen<br>
2. Eero Ojala<br>
3. Ossi Hirvola<br>
4. Samu Viitanen<br>
5. Konsta Lensu<br>
6. Petteri Huuskonen<br>
7. Sakari Helokunnas<br>
8. Yuanqi Shan<br>
9. Jeremia Kunnari<br>
10. Janne Hannikainen<br>
</p>
<p class="en-text">Aalto Daigaku Maajanbu is holding a mahjong tournament at Servinkuja 5B clubroom on saturday 10.12. at 12-20. Up to 16 players can join.
<br>
No participation fee. There may or may not be prizes.
<br>
<br>
Registration:<br>
#aaltomahjong @ IrcNet<br>
mahjong-hallitus@list.ayy.fi<br>
<br>
Participants:<br>
1. Henri Kumpulainen<br>
2. Eero Ojala<br>
3. Ossi Hirvola<br>
4. Samu Viitanen<br>
5. Konsta Lensu<br>
6. Petteri Huuskonen<br>
7. Sakari Helokunnas<br>
8. Yuanqi Shan<br>
9. Jeremia Kunnari<br>
10. Janne Hannikainen<br>
</p>


<h3>8.11.2016</h3>
<p class="fi-text">Olemme saaneet uuden kerhotilan vakituiseen käyttöön. Kyseessä on meidän valvoma HOASin kerhotila osoitteessa Servinkuja 5. Peli-illat järjestetään tästä lähin siellä.</p>
<p class="en-text">We have got a new clubroom for our regular use. It is a clubroom of HOAS operational supervised by us, addr. Servinkuja 5. Mahjong evenings will be held there from now on.</p>

<h3>22.9.2016</h3>
<p class="fi-text">Tänä syksynä järjestetään yhdistyksen ensimmäinen vuosijuhla (täytämme kolme vuotta!) peli-illan paikalla. Ajankohdaksi on valittu ke 5.10. ja vuosijuhla järjestetään Gorsussa (Jämeräntaival 5) klo 16-03. Sauna on lämmin yhdeksästä eteenpäin ja paikalle pyritään hankkimaan purtavaa ja juotavaa. Kaikki yhdistyksen jäsenet ovat tervetulleita paikalle pelaamaan, saunomaan ja nauttimaan tarjoiluista! Ei pääsymaksua.</p>
<p class="en-text">This fall we will hold our first annual celebration (we are turning three years!) in place of the weekly game evening. Annual celebration will be held Wed 5.10. at Gorsu (Jämeräntaival 5) 4pm to 3am. Sauna will be warm from 9pm and we will intend to get snacks and drinks to the event. All the club members are welcome to come play, sauna and enjoy the servings! No entry fee.</p>

<div class="greatwave">
<h3>31.1.2016 - Great Wave</h3>
<p class="fi-text">Suomen ensimmäinen EMA-turnaus on tulossa! Aalto Daigaku Maajanbu ry järjestää 26.3.2016 Espoon Otaniemessä Energy Garagella neljän hanchanin Riichi mahjong -turnauksen. Turnauksen pisteet tullaan ottamaan huomioon Euroopan ranking-listoilla. Paikkoja on jopa 64 pelaajalle! Infoa turnauksesta ja ohjeet osallistumiseen löydät <a href="#/turnaustulokset">täältä</a>.</p>
<p class="en-text">Finland's first EMA tournament is on its way! Aalto Daigaku Maajanbu ry is organizing a Riichi mahjong tournament at Energy Garage in Otaniemi, Espoo on 26.3.2016. Tournament's points will be taken into account in the European ranking list held by European Mahjong Association. Information about the tournament and instructions for registering can be found <a href="#/turnaustulokset">here</a>.</p>
</div>

<h3>12.12.2015</h3>
<p class="fi-text">Yhdistyksen syyskokous ja -turnaus. Kokouksessa valittiin uusi hallitus ja toimihenkilöt vuodeksi 2016. Turnauksen voittajat olivat: 1. sija: Henri Kumpulainen, 2. sija: Allan Palmu, 3. sija: Sakari Helokunnas. Enemmän tietoa <a href="#/turnaustulokset">täällä</a>.</p>
<p class="en-text">Autumn meeting and tournament. A new board of directors and new officials were chosen for 2016. Winners of the tournament are: 1st place: Henri Kumpulainen, 2nd place: Allan Palmu, 3rd place: Sakari Helokunnas. More information <a href="#/turnaustulokset">here</a>.</p>

<h3>6.7.2015</h3>
<p class="fi-text">Uusi automaattinen mahjong-pöytämme on saapunut. Pöytä on käytössä peli-illoissamme. Kannattaa tulla testaamaan!</p>
<p class="en-text">Our new automatic mahjong table has arrived. The table is used during our game evenings. Come and test it!</p>

<h3>22.3.2015</h3>
<p class="fi-text">Yhdistyksen kevätkokous ja -turnaus. Turnauksen voittajat olivat: 1. sija: Konsta Lensu, 2. sija: Yuanqi Shan, 3. sija: Jouni Kuitunen.</p>
<p class="en-text">Spring meeting and annual tournament. Winners of the tournament are: 1st place: Konsta Lensu, 2nd place: Yuanqi Shan, 3rd place: Jouni Kuitunen.</p>
<h3>1.3.2015</h3>
<p class="fi-text">Yhdistyksen kevätkokous ja vuositurnaus järjestetään 22.3.2015. Turnaukseen mahtuu 16 pelaajaa. Ilmoittautumisohjeet on lähetetty kaikille jäsenille sähköpostitse ja ovat saatavilla myös IRC-kanavallamme.</p>
<p class="en-text">Spring meeting and annual tournament will be held 22.3.2015. The tournament has place for 16 players. Participation instructions have been sent to all members by email and are also available on our IRC-channel.</p>
<h3>17.1.2015</h3>
<p class="fi-text">Kevään 2015 viikoittaiset peli-illat järjestetään torstaisin kello 17-22. Paikkana toimii toistaiseksi Jämeräntaival 10 CD kerhohuone. Ajankohtaisempaa tietoa peli-illoista saa IRC-kanavaltamme.</p>
<p class="en-text">During Spring 2015 weekly mahjong sessions will be held on Thursdays at 17:00-22:00 at Jämeräntaival 10 CD club room. The latest information on mahjong sessions is available on our IRC-channel.</p>
<h3>13.12.2014</h3>
<p class="fi-text">Yhdistyksen syyskokous ja -turnaus. Kokouksessa valittiin uusi hallitus ja toimihenkilöt vuodeksi 2015. Turnauksen voittajat olivat: 1. sija: Yuanqi Shan, 2. sija: Miika Piiroinen, 3. sija: Sakari Helokunnas.</p>
<p class="en-text">Autumn meeting and tournament. A new board of directors and new officials were chosen for 2015. Winners of the tournament are: 1st place: Yuanqi Shan, 2nd place: Miika Piiroinen, 3rd place: Sakari Helokunnas.</p>
<h3>1.9.2014</h3>
<p class="fi-text">Turnaustiimimme palasi Tanskassa järjestetystä riichi-turnauksesta. Janne "janneasdf" Gröndahl sijottui hienosti kolmanneksi.</p>
<p class="en-text">Our tournament team has returned from the Riichi tournament held in Denmark. Janne "janneasdf" Gröndahl placed excellently third.</p>
<h3>20.8.2014</h3>
<p class="fi-text">アールト大学麻雀部 nettisivut ovat valmiit. Täältä löydät informaatiota mahjongista, yhdistyksen toiminnasta sekä liittymisestä.</p>
<p class="en-text">The アールト大学麻雀部 website is complete. Here you can find information on mahjong, our association, and how to join.</p>
