<h1 class="fi-text">Jäsenyys</h1>
<h1 class="en-text">Membership</h1>
<p class="fi-text">Yhdistyksen jäsenyys on ilmaista. Yhdistykseen liittyessäsi liityt myös yhdistyksen sähköpostilistalle, jossa kuulutetaan ajankohtaisista tapahtumista. Sähköpostilistan erillistä hallinointia varten paina <a href="https://list.ayy.fi/mailman/listinfo/mahjong-jasenet">tästä</a>.</p>
<p class="en-text">Association membership is free. Joining the association also adds you to the mailing list, which is used for announcing upcoming events. For mailing list options, click <a href="https://list.ayy.fi/mailman/listinfo/mahjong-jasenet">here</a>.</p>
<h2>
  <a class="fi-text" href="#/liity">Liity jäseneksi</a>
  <a class="en-text" href="#/liity">Become a member</a>
</h2>
<h2>
  <a class="fi-text" href="#/eroa">Lopeta jäsenyytesi</a>
  <a class="en-text" href="#/eroa">End your membership</a>
</h2>
<h2>
  <a class="fi-text" href="docs/tietosuojaseloste.txt">Tietosuojaseloste</a>
  <a class="en-text" href="docs/tietosuojaseloste.txt">Privacy policy (in Finnish)</a>
</h2>