<h1 class="fi-text">Jäsenten menestys</h1>
<h1 class="en-text">The success of our members</h1>
<p class="fi-text">Tälle sivulle on koottu jäsentemme merkittävimmät sijoitukset kansainvälisesti avoimissa turnauksissa. Sisäisten turnaustemme tulokset löydät <a href="#/turnaustulokset">täältä</a>.</p>
<p class="en-text">This page contains the most significant rankings of our members in internationally open tournaments. For the results of our internal tournaments, visit <a href="#/turnaustulokset">here</a>.</p>
<p class="fi-text">Turnausten nimien perässä olevat lyhenteet: EMA = European Mahjong Association (eli turnaus otetaan huomioon Euroopan mahjongliiton ylläpitämässä ranking-järjestelmässä), MFRS = Mahjong Finland Ranking System (eli turnaus otetaan huomioon Suomen omassa ranking-järjestelmässä).</p>
<p class="en-text">Abbrevations used: EMA = European Mahjong Association (tournaments that the European Mahjong Association takes into account with their ranking system), MFRS = Mahjong Finland Ranking System (tournaments that are taken into account with Finland's own ranking system).</p>

<h3 class="fi-text">14-15.12.2019 Tenpain vuositurnaus (EMA, MFRS)</h3>
<h3 class="en-text">14-15.12.2019 Tenpai annual tournament (EMA, MFRS)</h3>
<p>
Yuanqi Shan: 1/36</br>
Jouni Lehtinen: 2/36</br>
Konsta Lensu: 3/36</br>
Jouni Kuitunen: 4/36</br>
</p>

<h3>28-29.9.2019 Open Danish Riichi Championship 2019 (EMA)</h3>
<p>Konsta Lensu: 3/44</p>

<h3 class="fi-text">3-4.8.2019 Riichi mahjong SM-kilpailu 2019 (EMA, MFRS)</h3>
<h3 class="en-text">3-4.8.2019 Finnish Riichi Mahjong Championships 2019 (EMA, MFRS)</h3>
<p>Jouni Lehtinen 2/28</p>

<h3>21-23.6.2019 5th European Riichi Mahjong Championship 2019 (EMA)</h3>
<p>
Yuanqi Shan: 21/140</br>
Konsta Lensu: 25/140</br>
Kasper Kivimäki: 33/140</br>
</p>

<h3 class="fi-text">18-19.5.2019 Tenpain Kevätturnaus (MFRS)</h3>
<h3 class="en-text">18-19.5.2019 Tenpai spring tournament (MFRS)</h3>
<p>Konsta Lensu: 1/20</p>

<h3 class="fi-text">20-21.4.2019 Great Wave-turnaus 2019 (EMA, MFRS)</h3>
<h3 class="en-text">20-21.4.2019 Great Wave tournament 2019 (EMA, MFRS)</h3>
<p>Yuanqi Shan: 1/28</br>
Samu Viitanen: 2/28</br>
Jouni Kuitunen: 3/28</br>
Janne Hannikainen: 4/28</p>

<h3 class="fi-text">1-2.12.2018 Tenpain vuositurnaus (MFRS)</h3>
<h3 class="en-text">1-2.12.2018 Tenpai annual tournament (MFRS)</h3>
<p>Konsta Lensu: 1/28</p>

<h3 class="fi-text">29-30.9.2018 MCMC:n vuositurnaus (MFRS)</h3>
<h3 class="en-text">29-30.9.2018 MCMC annual tournament (MFRS)</h3>
<p>Petteri Huuskonen: 1/20</br>
Janne Hannikainen: 2/20</br>
Samu Viitanen: 3/20</p>

<h3 class="fi-text">20.5.2018 Tenpain Kevätturnaus (MFRS)</h3>
<h3 class="en-text">20.5.2018 Tenpai spring tournament (MFRS)</h3>
<p>Ossi Hirvola: 1/20</br>
Konsta Lensu: 2/20</p>

<h3 class="fi-text">24-25.3.2018 Great Wave-turnaus 2018 (EMA, MFRS)</h3>
<h3 class="en-text">24-25.3.2018 Great Wave tournament 2018 (EMA, MFRS)</h3>
<p>Ossi Hirvola: 1/48</br>
Konsta Lensu: 2/48</p>

<h3 class="fi-text">16.12.2017 Tenpain vuositurnaus (EMA, MFRS)</h3>
<h3 class="en-text">16.12.2017 Tenpai annual tournament (EMA, MFRS)</h3>
<p>Samu Viitanen: 3/32</p>

<h3 class="fi-text">18-19.11.2017 Riichi mahjong SM-kilpailu 2017 (EMA, MFRS)</h3>
<h3 class="en-text">18-19.11.2017 Finnish Riichi Mahjong Championships 2017 (EMA, MFRS)</h3>
<p>Konsta Lensu: 1/24</br>
Henri Kumpulainen: 3/24</p>

<h3 class="fi-text">4-8.10.2017 World Riichi Championship</h3>
<h3 class="en-text">4-8.10.2017 World Riichi Championship</h3>
<p>Ossi Hirvola: 15/224</p>

<h3 class="fi-text">27.8.2017 Tenpain Kesäturnaus (MFRS)</h3>
<h3 class="en-text">27.8.2017 Tenpai summer tournament (MFRS)</h3>
<p>Yuanqi Shan: 2/28</br>
Kasper Kivimäki: 3/28</p>

<h3 class="fi-text">20.5.2017 Tenpain Kevätturnaus (MFRS)</h3>
<h3 class="en-text">20.5.2017 Tenpai autumn tournament (MFRS)</h3>
<p>Niko Nurro: 1/28</p>

<h3 class="fi-text">25-26.3.2017 Great Wave-turnaus 2017 (EMA, MFRS)</h3>
<h3 class="en-text">25-26.3.2017 Great Wave tournament 2017 (EMA, MFRS)</h3>
<p>Sakari Helokunnas: 1/24</br>
Janne Hannikainen: 2/24</br>
Yuanqi Shan: 3/24</p>

<h3 class="fi-text">17.12.2016 Tenpain vuositurnaus (EMA, MFRS)</h3>
<h3 class="en-text">17.12.2016 Tenpai annual tournament (EMA, MFRS)</h3>
<p>Ossi Hirvola: 1/24</p>

<h3 class="fi-text">27-28.8.2016 Riichi Open Bratislava 2016 (EMA)</h3>
<h3 class="en-text">27-28.8.2016 Riichi Open Bratislava 2016 (EMA)</h3>
<p>Konsta Lensu: 1/16</p>

<h3 class="fi-text">26.3.2016 Great Wave-turnaus 2016 (EMA, MFRS)</h3>
<h3 class="en-text">26.3.2016 Great Wave tournament 2016 (EMA, MFRS)</h3>
<p>Yuanqi Shan: 1/32</br>
Henri Kumpulainen: 2/32</p>

<h3 class="fi-text">19.12.2015 Tenpain vuositurnaus</h3>
<h3 class="en-text">19.12.2015 Tenpai annual tournament</h3>
<p>Konsta Lensu: 3/24</p>

<h3 class="fi-text">28.11.2015 Yaman mahjongturnaus</h3>
<h3 class="en-text">28.11.2015 Yama mahjong tournament</h3>
<p>Konsta Lensu: 1/20</br>
Samu Viitanen: 3/20</p>

<h3 class="fi-text">2.5.2015 Tenpain kevätturnaus</h3>
<h3 class="en-text">2.5.2015 Tenpai autumn tournament</h3>
<p>Ossi Hirvola: 1/24</p>

<h3 class="fi-text">29.3.2015 Yaman kevätturnaus</h3>
<h3 class="en-text">29.3.2015 Yama autumn tournament</h3>
<p>Konsta Lensu: 1/20</br>
Niko Nurro: 2/20</br>
Yuanqi Shan: 3/20</p>

<h3 class="fi-text">22.12.2014 Tenpain vuositurnaus</h3>
<h3 class="en-text">22.12.2014 Tenpai annual tournament</h3>
<p>Konsta Lensu: 1/24</br>
Niko Nurro: 2/24</p>

<h3 class="fi-text">30-31.8.2014 Danish Riichi Championship 2014 (EMA)</h3>
<h3 class="en-text">30-31.8.2014 Danish Riichi Championship 2014 (EMA)</h3>
<p class="fi-text">Janne Gröndahl: 3/24</p>

<h3 class="fi-text">9.6.2013 Tenpain kevätturnaus</h3>
<h3 class="en-text">9.6.2013 Tenpai autumn tournament</h3>
<p>Konsta Lensu: 2/32</p>

<h3 class="fi-text">25-26.8.2012 Open Danish Riichi Championship 2012 (EMA)</h3>
<h3 class="en-text">25-26.8.2012 Open Danish Riichi Championship 2012 (EMA)</h3>
<p>Konsta Lensu: 3/16</p>
