<h1 class="fi-text">Toiminta</h1>
<h1 class="en-text">Activities</h1>

<p class="fi-text">Yhdistyksemme tärkein toiminta on viikoittain järjestettävät peli-iltamme. Yhdistys on aktiivinen myös Aalto-yliopiston ulkopuolella ja monet jäsenistämme osallistuvat sekä kotimaisiin että kansainvälisiin turnauksiin, jopa maailmanmestaruuskilpailuihin. Vaikka et peli-iltoihimme ehtisikään, <a href="https://discord.gg/HmfAcWd">Discordista</a> löytyy usein halukkaita <a href="http://tenhou.net/0/">Tenhou</a>-pelaajia.</p>
<h1 class="fi-text">Peli-illat</h1>
<p class="fi-text">Yhdistys järjestää viikoittain peli-iltoja. Peli-illat järjestetään tavallisesti Servinkuja 5 B kerhotilassa. Lisäinfoa peli-illoista voit tiedustella <a href="https://discord.gg/HmfAcWd">Discordista</a>.</p>
<p class="fi-text">Kartan löydät <a href="http://mahjong.ayy.fi/img/kertsi_lowerres.jpg">täältä</a>.</p>
<h1 class="fi-text">Turnaukset</h1>
<p class="fi-text">Yhdistys järjestää vuosittain useita turnauksia. Yhdistyksen sisäiset turnaukset ovat maksuttomia yhdistyksen jäsenille, mutta avoimissa turnauksissa osallistumismaksu koskee kaikkia. Turnauksen lähestyessä ilmoittautumisohjeet lähetetään jäsenille sähköpostitse sekä julkaistaan <a href="https://discord.gg/HmfAcWd">Discordissa</a>.
Menneiden turnausten tulokset löytyvät <a href="#/turnaustulokset">täältä</a>.</p>


<p class="en-text">Our association's main events are weekly mahjong sessions. The association is also active outside Aalto University, and many of our members participate in national and international tournaments, even world championships. If you can't make it to our mahjong sessions, you can often find <a href="http://tenhou.net/0/">Tenhou</a> players at our <a href="https://discord.gg/HmfAcWd">Discord</a>.</p>
<h1 class="en-text">Mahjong sessions</h1>
<p class="en-text">The association organizes weekly mahjong sessions, which usually take place at the Servinkuja 5 B clubroom. More information can be asked on our <a href="https://discord.gg/HmfAcWd">Discord</a>.</p>
<p class="en-text">A map can be found <a href="http://mahjong.ayy.fi/img/kertsi_lowerres.jpg">here</a>.</p>
<h1 class="en-text">Tournaments</h1>
<p class="en-text">The association organizes many tournaments yearly. Participation is free for all members in our internal tournaments, but participation fee is the same for everyone in open tournaments. Participation instructions for upcoming tournaments are sent to members by e-mail, through the <a href="https://discord.gg/HmfAcWd">Discord</a>. Results from previous tournaments can be found <a href="#/turnaustulokset">here</a>.
</p>