<h1>Great Wave 2026</h1>

<section class="fi-text">
  <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScz4MLDiU_OnlFPVhYal0h1_Y4QOxJJvGf0xPauR8V8T_lJ1g/viewform">Ilmoittautumislomakkeeseen tästä!</a> <!--Google forms, nimi, maili, puhnro?, allergiat?, setti/matto?, miten maksaa -->
  </p>
  <p>
    Aalto Daigaku Maajanbu ry järjestää huhtikuussa 11.–12.4.2026
    kaksipäiväisen suomenmestaruusmahjongtunauksen Otaniemessä!
    Mukaan mahtuu 60 pelaajaa,
    ja turnaus on sekä MFRS- että MERS-turnaus.
  </p>
</section>
<section class="en-text">
  <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScz4MLDiU_OnlFPVhYal0h1_Y4QOxJJvGf0xPauR8V8T_lJ1g/viewform">Registration form here!</a> <!--Google forms, nimi, maili, puhnro?, allergiat?, setti/matto?, miten maksaa -->
  </p>
  <p>
    Aalto Daigaku Maajanbu ry is organizing a two-day mahjong tournament and the Finnish Championship
    April 11th–12th, in Otaniemi, Espoo!
    The tournament has room for 60 people,
    and will be MERS and MFRS (Mahjong Finland ranking system) ranked.
  </p>
</section>

<section class="fi-text">
  <h3>EMA-tuomariseminaari</h3>
  <p>
    Mahjong Finland järjestää perjantaina 10.4. tapahtumapaikalla EMA-tuomariseminaarin.
    Seminaari alkaa klo 13 ja päättyy klo 19.
    Välissä on lounastauko noin kello 15.
  </p>
  <p>
    Seminaarin aiheena on EMA-tuomaroinnin periaatteet.
    Osallistuminen on ilmaista,
    ja tapahtuma on avoin kaikille aiheesta kiinnostuneille.
    Lopussa pidetään koetilaisuus,
    jossa läpi pääsevät saavat virallisen EMA-tuomaripätevyyden.
    Tarkempaa tietoa löytyy englanniksi
    <a href="http://www.mahjongfinland.fi/2026/01/08/riichi-referee-seminar-in-espoo-on-10-4/" target="_blank" rel="noopener noreferrer">Mahjong Finlandin verkkosivuilta.</a>
  </p>
</section>
<section class="en-text">
  <h3>EMA referee seminar</h3>
  <p>
    Mahjong Finland is organizing a riichi referee seminar at the venue on Friday April 10th.
    The seminar starts at 1 pm and ends at 7 pm.
    There is a short break for lunch around 3 pm.
  </p>
  <p>
    The seminar focuses on the practices and philosophy of EMA riichi referees.
    Participation is free,
    and the seminar is open to anyone interested in improving their refereeing skills.
    Participants who achieve a passing score in the exam at the end of the seminar
    will be certified as official EMA riichi referees.
    For more information, see
    the <a href="http://www.mahjongfinland.fi/2026/01/08/riichi-referee-seminar-in-espoo-on-10-4/" target="_blank" rel="noopener noreferrer">Mahjong Finland website.</a>
  </p>
</section>

<section class="fi-text">
  <h3>Sijainti</h3>
  <p>
    Turnaus järjestetään Aalto Design Factorylla Otaniemessä,
    parin minuutin kävelymatkan päässä Otaniemen metroasemalta.
    Osoite on Puumiehenkuja 5, 02150 Espoo.
    Matkan suunnittelussa auttaa <a href="https://reittiopas.hsl.fi/reitti/-/Puumiehenkuja%205%2C%20Espoo%3A%3A60.187838%2C24.824478?locale=fi&setTime=true&time=1744445700">HSL:n reittiopas</a>.
  </p>
  <p>
    Turnauspaikan lähistöllä on useita ravintoloita, joitain kävelyetäisyydellä,
    ja yhden metropysäkin päässä on Tapiolan ostoskeskus.
    Paikan päällä on tarjolla pikkupurtavaa. 
  </p>
</section>
<section class="en-text">
  <h3>Location</h3>
  <p>
    The tournament will be held at Aalto Design Factory,
    a few minutes’ walk from the Otaniemi metro station.
    The address is Puumiehenkuja 5, 02150 Espoo.
    To help plan your trip, you can use <a href="https://reittiopas.hsl.fi/reitti/-/Puumiehenkuja%205%2C%20Espoo%3A%3A60.187838%2C24.824478?locale=en&setTime=true&time=1744445700">the HSL public transport route planner</a>.
  </p>
  <p>
    There are some restaurants within walking distance,
    as well as quickly accessible by subway.
    There are also light snacks available at the tournament venue.
  </p>
</section>

<section>
  <h3 class="fi-text">Aikataulu<!-- (<a href="img/Great_Wave_2024.ics">Lisää kalenteriin</a>)--></h3>  
  <h3 class="en-text">Schedule<!-- (<a href="img/Great_Wave_2024.ics">Import to calendar</a>)--></h3>
  <table class="tournament-schedule">
    <tr>
      <td colspan="2" class="fi-text">Perjantai</td>
      <td colspan="2" class="en-text">Friday</td>
      <td colspan="2" class="fi-text">Lauantai</td>
      <td colspan="2" class="en-text">Saturday</td>
      <td colspan="2" class="fi-text">Sunnuntai</td>
      <td colspan="2" class="en-text">Sunday</td>
    </tr>
    <tr>
      <td colspan="2" rowspan="2"></td>
      <td colspan="2"></td>
      <td>9:30–11:00</td>
      <td class="fi-text">5. Hanchan</td>
      <td class="en-text">5th Hanchan</td>
    </tr>
    <tr>
      <td>11:15–11:45</td>
      <td class="fi-text">Ilmoittautuminen</td>
      <td class="en-text">Registration</td>
      <td>11:15–12:45</td>
      <td class="fi-text">6. Hanchan</td>
      <td class="en-text">6th Hanchan</td>
    </tr>
    <tr>
      <td rowspan="2">13:00–15:00</td>
      <td rowspan="2" class="fi-text">Tuomariseminaari</td>
      <td rowspan="2" class="en-text">Referee seminar</td>
      <td>12:00–13:30</td>
      <td class="fi-text">1. Hanchan</td>
      <td class="en-text">1st Hanchan</td>      
      <td>12:45–13:45</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
    </tr>
    <tr>
      <td>13:45–15:15</td>
      <td class="fi-text">2. Hanchan</td>
      <td class="en-text">2nd Hanchan</td>
      <td>13:45–15:15</td>
      <td class="fi-text">7. Hanchan</td>
      <td class="en-text">7th Hanchan</td>
    </tr>
    <tr>
      <td>15:00–15:45</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
      <td>15:15–16:15</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
      <td>15:30–17:00</td>
      <td class="fi-text">8. Hanchan</td>
      <td class="en-text">8th Hanchan</td>
    </tr>
    <tr>
      <td rowspan="2">15:45–19:00</td>
      <td rowspan="2" class="fi-text">Tuomariseminaari</td>
      <td rowspan="2" class="en-text">Referee seminar</td>
      <td>16:15–17:45</td>
      <td class="fi-text">3. Hanchan</td>
      <td class="en-text">3rd Hanchan</td>
      <td>17:15–17:30</td>
      <td class="fi-text">Palkintojenjako</td>
      <td class="en-text">Award Ceremony</td>
    </tr>
    <tr>
      <td>18:00–19:30</td>
      <td class="fi-text">4. Hanchan</td>
      <td class="en-text">4th Hanchan</td>
      <td colspan="2"></td>
    </tr>
  </table>
</section>

<section>
  <h3 class="fi-text">Ilmoittautuneet osallistujat</h3>  
  <h3 class="en-text">Registered participants</h3>
  <p>
Oļegs Ošmjans <br>
Lynxa Ilves <br>
Jouni Lehtinen <br>
Petri Haustola <br>
Kristiina Kuusela  <br>
Tommi Ikonen <br>
Teemu Paloniemi <br>
Matias Tran <br>
Johannes Natunen <br>
Utu Kalliokoski <br>
Joonas Helava <br>
Joel Siirto <br>
Anne-Mari Haapsamo <br>
Rurik Haapsamo <br>
Oskari Haapsamo <br>
Aleksanteri Kupi <br>
Svetlana Velikanova <br>
Ilia Velikanov <br>
  </p>
  <p>
    Total: 18/60.
    <span class="fi-text">Päivitetty</span><span class="en-text">Updated</span>
    21:37 10.01.2026 (EET (UTC+2))
  </p>
</section>

<section class="fi-text">
  <h3>Turnausmaksu ja ilmoittautuminen</h3>
  <!-- <p>
    <strong>Ilmoittautuminen on suljettu.</strong>
  </p> -->
  <p>
    Turnaukseen osallistuminen maksaa 15€.
    Hintaan sisältyy kahvia ja teetä sekä pikkupurtavaa.
  </p>
  <p>
    Turnaukseen mahtuu 60 pelaajaa,
    minkä jälkeen ilmoittautuneet menevät varasijoille.
    Ilmoittautuminen on avoinna perjantaihin 3.4. klo 23:59 saakka Suomen aikaa (UTC+3).
    Pyydämme, että osallistumismaksut maksettaisiin seuran tilille myös tähän mennessä.
    Määräajan jälkeen ilmoittautuminen on sitova eikä maksettuja osallistumismaksuja palauteta!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH (Osuuspankki) 
  </p>
  <p>
    Laita maksun tekstikenttään “Great Wave 2026” ja nimesi.
    Esim. “Great Wave 2026, Matti Meikäläinen”.
  </p>
  <p>
    <b>Kysymyksiä? Ota yhteyttä:</b> <a href="mailto:aaltomahjong-hallitus@googlegroups.com">aaltomahjong-hallitus@googlegroups.com</a>
  </p>
</section>
<section class="en-text">
  <h3>Tournament fee and registration</h3>
  <!-- <p>
    <strong>Registration is now closed.</strong>
  </p> -->
  <p>
    Participation in the tournament costs 15€.
    The price includes tea, coffee, and light snacks.
  </p>
  <p>
    There are 60 spots in the tournament.
    After this, you can still sign up for reserve spots,
    and will get in if someone cancels their registration.
    Registration is open until Friday April 3rd, 23:59 Finland time (UTC+3).
    Players from abroad are allowed to pay on-site.
    However, if possible, we ask that you kindly pay the participation fee to our club’s bank account before the registration deadline.
    After the deadline the registration is binding and paid tournament fees will not be returned!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH
  </p>
  <p>
    Include “Great Wave 2026” and your name in the payment text field.
    For example: “Great Wave 2026, John Smith”.
    If you're paying for multiple players at once, please include all their names.
  </p>
  <p>
    <b>Any questions? Contact:</b> <a href="mailto:aaltomahjong-hallitus@googlegroups.com">aaltomahjong-hallitus@googlegroups.com</a>
  </p>
</section>
