<h1 class="fi-text">Great Wave 2025</h1>
<h1 class="en-text">Great Wave 2025</h1>

<section class="fi-text">
  <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSezPpbecFwka74Mnu6IukcPNw4o9uHXtLygGzKyG8_ID4x9gg/viewform">Ilmoittautumislomakkeeseen tästä!</a> <!--Google forms, nimi, maili, puhnro?, allergiat?, setti/matto?, miten maksaa -->
  </p>
  <p>
    Aalto Daigaku Maajanbu ry järjestää huhtikuussa 12.–13.4.2025 kaksipäiväisen mahjongtunauksen Otaniemessä! Mukaan mahtuu 60 pelaajaa, ja turnaus on EMA-turnaus sekä mukana Suomen MFRS-järjestelmässä.
  </p>
  <p>
    <b>HUOM!</b> Turnaus pelataan tuolloin voimassa olevilla EMA-säännöilä.
  </p>
</section>
<section class="en-text">
  <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSezPpbecFwka74Mnu6IukcPNw4o9uHXtLygGzKyG8_ID4x9gg/viewform">Registration form here!</a> <!--Google forms, nimi, maili, puhnro?, allergiat?, setti/matto?, miten maksaa -->
  </p>
  <p>
    Aalto Daigaku Maajanbu ry is organizing a two-day mahjong tournament April 12th–13th, in Otaniemi, Espoo! The tournament has room for 60 people, and will be MERS and MFRS (Mahjong Finland ranking system) ranked.
  </p>
  <p>
    <b>Notice!</b> The tournament will be played with the EMA rules in use at the time of the tournament.
  </p>
</section>

<section class="fi-text">
  <h3>Sijainti</h3>
  <p>
    Turnaus järjestetään Aalto Design Factorylla Otaniemessä, parin minuutin kävelymatkan päässä Otaniemen metroasemalta. Osoite on Puumiehenkuja 5, 02150 Espoo. Matkan suunnittelussa auttaa <a href="https://reittiopas.hsl.fi/reitti/-/Puumiehenkuja%205%2C%20Espoo%3A%3A60.187838%2C24.824478?locale=fi&setTime=true&time=1744445700">HSL:n reittiopas</a>.
  </p>
  <p>
    Turnauspaikan lähistöllä on useita ravintoloita, joitain kävelyetäisyydellä, ja yhden metropysäkin päässä on Tapiolan ostoskeskus. Paikan päällä on tarjolla pikkupurtavaa. 
  </p>
</section>
<section class="en-text">
  <h3>Location</h3>
  <p>
    The tournament will be held at Aalto Design Factory, a few minutes’ walk from the Otaniemi metro station. The address is Puumiehenkuja 5, 02150 Espoo. To help plan your trip, you can use <a href="https://reittiopas.hsl.fi/reitti/-/Puumiehenkuja%205%2C%20Espoo%3A%3A60.187838%2C24.824478?locale=en&setTime=true&time=1744445700">the HSL public transport route planner</a>.
  </p>
  <p>
    There are some restaurants within walking distance, as well as quickly accessible by subway. There are also light snacks available.
  </p>
</section>

<section>
  <h3 class="fi-text">Aikataulu (alustava)<!-- (<a href="img/Great_Wave_2024.ics">Lisää kalenteriin</a>)--></h3>  
  <h3 class="en-text">Schedule (to be finalized)<!-- (<a href="img/Great_Wave_2024.ics">Import to calendar</a>)--></h3>
  <table class="tournament-schedule">
    <tr>
      <td colspan="2" class="fi-text">Lauantai</td>
      <td colspan="2" class="en-text">Saturday</td>
      <td colspan="2" class="fi-text">Sunnuntai</td>
      <td colspan="2" class="en-text">Sunday</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>9:30–11:00</td>
      <td class="fi-text">5. Hanchan</td>
      <td class="en-text">5th Hanchan</td>
    </tr>
    <tr>
      <td>11:15–11:45</td>
      <td class="fi-text">Ilmoittautuminen</td>
      <td class="en-text">Registration</td>
      <td>11:15–12:45</td>
      <td class="fi-text">6. Hanchan</td>
      <td class="en-text">6th Hanchan</td>
    </tr>
    <tr>
      <td>12:00–13:30</td>
      <td class="fi-text">1. Hanchan</td>
      <td class="en-text">1st Hanchan</td>      
      <td>12:45–13:45</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
    </tr>
    <tr>
      <td>13:45–15:15</td>
      <td class="fi-text">2. Hanchan</td>
      <td class="en-text">2nd Hanchan</td>
      <td>13:45–15:15</td>
      <td class="fi-text">7. Hanchan</td>
      <td class="en-text">7th Hanchan</td>
    </tr>
    <tr>
      <td>15:15–16:15</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
      <td>15:30–17:00</td>
      <td class="fi-text">8. Hanchan</td>
      <td class="en-text">8th Hanchan</td>
    </tr>
    <tr>
      <td>16:15–17:45</td>
      <td class="fi-text">3. Hanchan</td>
      <td class="en-text">3rd Hanchan</td>
      <td>17:15–17:30</td>
      <td class="fi-text">Palkintojenjako</td>
      <td class="en-text">Award Ceremony</td>
    </tr>
    <tr>
      <td>18:00–19:30</td>
      <td class="fi-text">4. Hanchan</td>
      <td class="en-text">4th Hanchan</td>
      <td colspan="2"></td>
    </tr>
  </table>
</section>

<section>
  <h3 class="fi-text">Ilmoittautuneet osallistujat</h3>  
  <h3 class="en-text">Registered participants</h3>
  <p>
    Joonas Helava<br />
    Jouni Lehtinen<br />
    Aleksanteri Kupi<br />
    Jouni Kuitunen<br />
    Vilhelmiina Viinikka<br />
    Tung Nguyen Quang<br />
    Kristiina Kuusela<br />
    Anselmi Ahonen<br />
    Mimmi Lehtonen<br />
    Konsta Lensu <br />
    Drew Mäkisalo<br />
    Tommi Ikonen<br />
    Matias Tran<br />
    Joel Siirto<br />
    Mikko Aarnos<br />
    Anne-Mari Haapsamo<br />
    Iivari van Uden<br />
    Ilia Velikanov<br/>
    Svetlana Velikanova<br/>
    Maija Heiskanen<br/>
    Lauri Heiskanen<br/>
    Thu Dinh<br/>
  </p>
  <p>
    Total: 22/60.
    <span class="fi-text">Päivitetty</span><span class="en-text">Updated</span>
    03:46, 20.01.2025 (EET (UTC+2))
  </p>
</section>

<section class="fi-text">
  <h3>Turnausmaksu ja ilmoittautuminen</h3>
  <p>
    Turnaukseen osallistuminen maksaa 15€. Hintaan sisältyy kahvia ja teetä sekä pikkupurtavaa.
  </p>
  <p>
    Turnaukseen mahtuu 60 pelaajaa, minkä jälkeen ilmoittautuneet menevät varasijoille. Ilmoittautuminen sulkeutuu perjantaina 4.4. Pyydämme, että osallistumismaksut maksettaisiin seuran tilille myös tähän mennessä. Deadlinen jälkeen ilmoittautuminen on sitova eikä maksettuja osallistumismaksuja palauteta!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH (Osuuspankki) 
  </p>
  <p>
    Laita maksun tekstikenttään “Great Wave 2025” ja nimesi. Esim. “Great Wave 2025, Matti Meikäläinen”.
  </p>
  <p>
    <b>Kysymyksiä? Ota yhteyttä:</b> <a href="mailto:aaltomahjong-hallitus@googlegroups.com">aaltomahjong-hallitus@googlegroups.com</a>
  </p>
</section>
<section class="en-text">
  <h3>Tournament fee and registration</h3>
  <p>
    Participation in the tournament costs 15€. The price includes tea, coffee, and light snacks.
  </p>
  <p>
    There are 60 spots in the tournament. After this, you can still sign up for reserve spots, and will get in if someone cancels their registration. Deadline for registration is Friday April 4th. Players from abroad are allowed to pay on-site. However, if possible, we ask that you kindly pay the participation fee to our club’s bank account before the registration deadline. After the deadline the registration is binding and paid tournament fees will not be returned!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH
  </p>
  <p>
    Include “Great Wave 2025” and your name in the payment text field. For example: “Great Wave 2025, John Smith”. If you're paying for multiple players at once, please include all their names.
  </p>
  <p>
    <b>Any questions? Contact:</b> <a href="mailto:aaltomahjong-hallitus@googlegroups.com">aaltomahjong-hallitus@googlegroups.com</a>
  </p>
</section>
