<h1 class="fi-text">Great Wave 2024</h1>
<h1 class="en-text">Great Wave 2024</h1>

<section class="fi-text">
  <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfx_aLIXqNQAnB4fpfXquBlcTyxKYI6ARnCC-cX-bEPZBcFzg/viewform?usp=sf_link">Ilmoittautumislomakkeeseen tästä!</a> <!--Google forms, nimi, maili, puhnro?, allergiat?, setti/matto?, miten maksaa -->
  </p>
  <p>
    Aalto Daigaku Maajanbu ry järjestää kesäkuussa 29.–30.6.2024 kaksipäiväisen mahjongtunauksen Otaniemessä! Mukaan mahtuu 32 pelaajaa, ja turnaus on EMA-turnaus sekä mukana Suomen MFRS-järjestelmässä.
  </p>
</section>
<section class="en-text">
  <p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfx_aLIXqNQAnB4fpfXquBlcTyxKYI6ARnCC-cX-bEPZBcFzg/viewform?usp=sf_link">Registration form here!</a> <!--Google forms, nimi, maili, puhnro?, allergiat?, setti/matto?, miten maksaa -->
  </p>
  <p>
    Aalto Daigaku Maajanbu ry is organizing a two-day mahjong tournament June 29th–30th, in Otaniemi, Espoo! The tournament has room for 32 people, and will be MERS and MFRS (Mahjong Finland ranking system) ranked.
  </p>
</section>

<section class="fi-text">
  <h3>Sijainti</h3>
  <p>
    Turnaus järjestetään baari Taproom d20:ssä Otaniemessä, parin minuutin kävelymatkan päässä Otaniemen metroasemalta. Osoite on Otakaari 27, 02150 Espoo. Matkan suunnittelussa auttaa <a href="https://reittiopas.hsl.fi/reitti/-/Otakaari%2027%2C%20Espoo%3A%3A60.184387%2C24.830509?locale=fi&setTime=true&time=1711704600">HSL:n reittiopas</a>.
  </p>
  <p>
    Turnauspaikan lähistöllä on useita ravintoloita, joitain kävelyetäisyydellä, ja yhden metropysäkin päässä on Tapiolan ostoskeskus. Paikan päällä on tarjolla pikkupurtavaa. 
  </p>
</section>
<section class="en-text">
  <h3>Location</h3>
  <p>
    The tournament will be held at the bar Taproom d20, a few minutes’ walk from the Otaniemi metro station. The address is Otakaari 27, 02150 Espoo. To help plan your trip, you can use <a href="https://reittiopas.hsl.fi/reitti/-/Otakaari%2027%2C%20Espoo%3A%3A60.184387%2C24.830509?locale=en&setTime=true&time=1711704600">the HSL public transport route planner</a>.
  </p>
  <p>
    There are some restaurants within walking distance, as well as quickly accessible by subway. There are also light snacks available.
  </p>
</section>

<section>
  <h3 class="fi-text">Aikataulu (alustava)<!-- (<a href="img/Great_Wave_2024.ics">Lisää kalenteriin</a>)--></h3>  
  <h3 class="en-text">Schedule (to be finalized)<!-- (<a href="img/Great_Wave_2024.ics">Import to calendar</a>)--></h3>
  <table class="tournament-schedule">
    <tr>
      <td colspan="2" class="fi-text">Lauantai</td>
      <td colspan="2" class="en-text">Saturday</td>
      <td colspan="2" class="fi-text">Sunnuntai</td>
      <td colspan="2" class="en-text">Sunday</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>9:30–11:00</td>
      <td class="fi-text">5. Hanchan</td>
      <td class="en-text">5th Hanchan</td>
    </tr>
    <tr>
      <td>11:15–11:45</td>
      <td class="fi-text">Ilmoittautuminen</td>
      <td class="en-text">Registration</td>
      <td>11:15–12:45</td>
      <td class="fi-text">6. Hanchan</td>
      <td class="en-text">6th Hanchan</td>
    </tr>
    <tr>
      <td>12:00–13:30</td>
      <td class="fi-text">1. Hanchan</td>
      <td class="en-text">1st Hanchan</td>      
      <td>12:45–13:45</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
    </tr>
    <tr>
      <td>13:45–15:15</td>
      <td class="fi-text">2. Hanchan</td>
      <td class="en-text">2nd Hanchan</td>
      <td>13:45–15:15</td>
      <td class="fi-text">7. Hanchan</td>
      <td class="en-text">7th Hanchan</td>
    </tr>
    <tr>
      <td>15:15–16:15</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
      <td>15:30–17:00</td>
      <td class="fi-text">8. Hanchan</td>
      <td class="en-text">8th Hanchan</td>
    </tr>
    <tr>
      <td>16:15–17:45</td>
      <td class="fi-text">3. Hanchan</td>
      <td class="en-text">3rd Hanchan</td>
      <td>17:15–17:30</td>
      <td class="fi-text">Palkintojenjako</td>
      <td class="en-text">Award Ceremony</td>
    </tr>
    <tr>
      <td>18:00–19:30</td>
      <td class="fi-text">4. Hanchan</td>
      <td class="en-text">4th Hanchan</td>
      <td colspan="2"></td>
    </tr>
  </table>
</section>

<section>
  <h3 class="fi-text">Ilmoittautuneet osallistujat</h3>  
  <h3 class="en-text">Registered participants</h3>
  <p>
  </p>
  <p>Total: 0/32. <span class="fi-text">Päivitetty</span><span class="en-text">Updated</span> 22:30, 19.03.2024</p>
</section>

<section class="fi-text">
  <h3>Turnausmaksu ja ilmoittautuminen</h3>
  <p>
    Turnaukseen osallistuminen maksaa 15€. Hintaan sisältyy kahvia ja teetä sekä pikkupurtavaa.
  </p>
  <p>
    Turnaukseen mahtuu 32 pelaajaa, minkä jälkeen ilmoittautuneet menevät varasijoille. Ilmoittautuminen sulkeutuu perjantaina 21.6. Pyydämme, että osallistumismaksut maksettaisiin seuran tilille myös tähän mennessä. Deadlinen jälkeen ilmoittautuminen on sitova eikä maksettuja osallistumismaksuja palauteta!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH (Osuuspankki) 
  </p>
  <p>
    Laita maksun tekstikenttään “Great Wave 2024” ja nimesi. Esim. “Great Wave 2024, Matti Meikäläinen”.
  </p>
  <p>
    <b>Kysymyksiä? Ota yhteyttä:</b> <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a>
  </p>
</section>
<section class="en-text">
  <h3>Tournament fee and registration</h3>
  <p>
    Participation in the tournament costs 15€. The price includes tea, coffee, and light snacks.
  </p>
  <p>
    There are 32 spots in the tournament. After this, you can still sign up for reserve spots, and will get in if someone cancels their registration. Deadline for registration is Friday June 21st. Players from abroad are allowed to pay on-site. However, if possible, we ask that you kindly pay the participation fee to our club’s bank account before the registration deadline. After the deadline the registration is binding and paid tournament fees will not be returned!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH
  </p>
  <p>
    Include “Great Wave 2024” and your name in the payment text field. For example: “Great Wave 2024, John Smith”. If you're paying for multiple players at once, please include all their names.
  </p>
  <p>
    <b>Any questions? Contact:</b> <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a>
  </p>
</section>
