<h1 class="fi-text">Nettiturnaus 14.08.2021</h1>
<h1 class="en-text">Online tournament on 14.08.2021</h1>

<p class="fi-text">
  Hei!<br/>
 
  Aalto Daigaku Maajanbu järjestää nettimahjongturnauksen 14.8 lauantaina.<br/>
  Turnauksessa pelataan 5 Hanchania MahjongSoul:ssa <a href="http://mahjong-europe.org/portal/images/docs/Riichi-rules-2016-EN.pdf">EMA:n Riichi -säännöillä</a>.<br/>
  <br/>
  Ensimmäinen Hanchan aloitetaan 11:00 paikallista aikaa (UTC+3).<br/>
  Toisen Hanchanin jälkeen pidetään 50 minuutin lounastauko.<br/>
  Toinen, neljäs ja viides Hanchan aloitetetaan 10 minuuttia sen jälkeen kun edellisen Hanchanin viimeinen peli on päättynyt.<br/>
  <br/>
  Arvioitu aikataulu:<br/>
  10:00 - Ilmoittautuminen<br/>
  11:00 - Hanchan 1<br/>
  12:10 - Hanchan 2<br/>
  13:10 - Lounas<br/>
  14:00 - Hanchan 3<br/>
  15:10 - Hanchan 4<br/>
  16:20 - Hanchan 5<br/>
  17:30 - Tulosten julkaisu<br/>
  <br/>
  Varsinaiset Hanchan aloitusajat sekä muut tärkeät tiedotteet (mukaan lukien ilmoittautuminen ja tulosten julkaisu) ilmoitetaan <a href="https://discord.gg/gVxgJywyY4">turnauksen Discord-kanavalla</a>.<br/>
  <br/>
  Turnaukseen voi rekisteröityä seuraavan lomakken kautta: <a href="https://docs.google.com/forms/d/e/1FAIpQLSdNzwUjrYseHVLnh8EgRtYzk1gBWoYgAliVnO1U6O9PGTLASw/viewform?usp=sf_link">linkki</a><br/>
  Rekisteröityminen vaatii MahjongSoul ID:n, jonka löytää "Friends"-sivulta tunnuksen luomisen jälkeen.<br/>
  Rekisteröitymisen deadline: 11.8<br/>
  <br/>
  Osallistuminen on ilmaista.<br/>
  <br/>
  Tervetuloa pelaamaan!
</p>

<p class="en-text">
  Hey, All!<br/>
  <br/>
  Aalto Daigaku Maajanbu will host an online mahjong tournament on August 14th, Saturday. <br/>
  The tournament will be a 5 Hanchan tournament and all matches will be played on MahjongSoul under <a href="http://mahjong-europe.org/portal/images/docs/Riichi-rules-2016-EN.pdf">EMA Riichi rules</a>.<br/>
  <br/>
  The first Hanchan starts at 11:00 (UTC+3, Local Finland Time).<br/>
  There will be a 50 minutes lunch break after the last match of 2nd Hanchan.<br/>
  The second, fourth and fifth Hanchans start 10 minutes after the last match of the previous Hanchans have finished.<br/>
  <br/>
  Estimated schedule:<br/>
  10:00 - Sign up<br/>
  11:00 - Hanchan 1<br/>
  12:10 - Hanchan 2<br/>
  13:10 - Lunch break<br/>
  14:00 - Hanchan 3<br/>
  15:10 - Hanchan 4<br/>
  16:20 - Hanchan 5<br/>
  17:30 - Announcement of results<br/>
  <br/>
  The actual starting times of each Hanchan and other important matters (including sign up and results) will be announced on the <a href="https://discord.gg/gVxgJywyY4">Tournament Discord channel</a>.<br/>
  <br/>
  Registration is done through the following form: <a href="https://docs.google.com/forms/d/e/1FAIpQLSdNzwUjrYseHVLnh8EgRtYzk1gBWoYgAliVnO1U6O9PGTLASw/viewform?usp=sf_link">link</a><br/>
  Please note that registration requires a MahjongSoul ID which can be found on the Friends page after you've created your account.<br/>
  Registration deadline: August 11th<br/>
  <br/>
  There is no participation fee.<br/>
  <br/>
  Everyone is welcome to join!
</p>