<h1 class="fi-text">Great Wave 2023</h1>
<h1 class="en-text">Great Wave 2023</h1>

<section class="fi-text">
  <p>
    <a href="https://forms.gle/m2VcLas4rup4ia2V6">Ilmoittautumislomakkeeseen tästä!</a> <!--Google forms, nimi, maa, emanumero-->
  </p>
  <p>
    アールト大学麻雀部 (Aalto Daigaku Maajanbu ry) järjestää Riichi-mahjongin SM-turnauksen 21-22.10.2023. Turnaus on MFRS-turnaus ja EMA-turnaus. Pelaajia mahtuu 48.
  </p>
</section>
<section class="en-text">
  <p>
    <a href="https://forms.gle/m2VcLas4rup4ia2V6">Registration form here!</a> <!--Google forms, nimi, maa, emanumero-->
  </p>
  <p>
    アールト大学麻雀部 (Aalto Daigaku Maajanbu ry) is organizing the Finnish Championship Great Wave tournament on Sat-Sun 21-22.10.2023. The tournament will be a 48-player MERS tournament.
  </p>
</section>

<section class="fi-text">
  <h3>Sijainti</h3>
  <p>
    Turnaus järjestetään baari Taproom d20:ssä Otaniemessä, parin minuutin kävelymatkan päässä Otaniemen metroasemalta. Osoite on Otakaari 27, 02150 Espoo. Matkan suunnittelussa auttaa <a href="https://reittiopas.hsl.fi/reitti/POS/Otakaari%2027%2C%20Espoo%3A%3A60.184387%2C24.830509?time=1689777080.515&arriveBy=false&locale=fi">HSL:n reittiopas</a>.
  </p>
  <p>
    Turnauspaikan lähistöllä on useita ravintoloita, joitain kävelyetäisyydellä, ja yhden metropysäkin päässä on Tapiolan ostoskeskus. Paikan päällä on tarjolla pikkupurtavaa.
  </p>
</section>
<section class="en-text">
  <h3>Location</h3>
  <p>
    The tournament will be held at the bar Taproom d20, a few minutes walk from the Otaniemi metro station. The address is Otakaari 27, 02150 Espoo. To help plan your trip, you can use <a href="https://reittiopas.hsl.fi/reitti/POS/Otakaari%2027%2C%20Espoo%3A%3A60.184387%2C24.830509?time=1689777080.515&arriveBy=false&locale=en">the HSL public transport route planner</a>.
  </p>
  <p>
    There are some restaurants within walking distance, as well as quickly accessible by subway. There are also light snacks available.
  </p>
</section>

<section>
  <h3 class="fi-text">Aikataulu (<a href="img/Great_Wave_2023.ics">Lisää kalenteriin</a>)</h3>  
  <h3 class="en-text">Schedule (<a href="img/Great_Wave_2023.ics">Import to calendar</a>)</h3>
  <table>
    <tr>
      <td colspan="2" class="fi-text">Lauantai 21.10.</td>
      <td colspan="2" class="en-text">Saturday 21.10.</td>
    </tr>
    <tr><td>11:45-12:15</td><td class="fi-text">Ilmoittautuminen</td><td class="en-text">Registration</td></tr>
    <tr><td>12:30–14:00</td><td class="fi-text">1. Hanchan</td><td class="en-text">1st Hanchan</td></tr>
    <tr><td>14:00-14:15</td><td class="fi-text">Tauko</td><td class="en-text">Break</td></tr>
    <tr><td>14:15-15:45</td><td class="fi-text">2. Hanchan</td><td class="en-text">2nd Hanchan</td></tr>
    <tr><td>15:45-17:00</td><td class="fi-text">Lounastauko</td><td class="en-text">Lunch break</td></tr>
    <tr><td>17:00-18:30</td><td class="fi-text">3. Hanchan</td><td class="en-text">3rd Hanchan</td></tr>
    <tr><td>18:30-18:45</td><td class="fi-text">Tauko</td><td class="en-text">Break</td></tr>
    <tr><td>18:45-20:15</td><td class="fi-text">4. Hanchan</td><td class="en-text">4th Hanchan</td></tr>
    <tr>
      <td colspan="2" class="fi-text">Sunnuntai 22.10.</td>      
      <td colspan="2" class="en-text">Sunday 22.10.</td>
    </tr>
    <tr><td>09:30–10:00</td><td class="fi-text">Ilmoittautuminen</td><td class="en-text">Registration</td></tr>
    <tr><td>10:00–11:30</td><td class="fi-text">5. Hanchan</td><td class="en-text">5th Hanchan</td></tr>
    <tr><td>11:30–11:45</td><td class="fi-text">Tauko</td><td class="en-text">Break</td></tr>
    <tr><td>11:45–13:15</td><td class="fi-text">6. Hanchan</td><td class="en-text">6th Hanchan</td></tr>
    <tr><td>13:15–14:30</td><td class="fi-text">Lounastauko</td><td class="en-text">Lunch break</td></tr>
    <tr><td>14:30–16:00</td><td class="fi-text">7. Hanchan</td><td class="en-text">7th Hanchan</td></tr>
    <tr><td>16:00–16:15</td><td class="fi-text">Tauko</td><td class="en-text">Break</td></tr>
    <tr><td>16:15–17:45</td><td class="fi-text">8. Hanchan</td><td class="en-text">8th Hanchan</td></tr>
    <tr><td>17:45–18:15</td><td class="fi-text">Palkintojenjako</td><td class="en-text">Award ceremony</td></tr>
  </table>
</section>

<section>
  <h3 class="fi-text">Ilmoittautuneet osallistujat</h3>  
  <h3 class="en-text">Registered participants</h3>
  <iframe class="sheets-embed" height="256px" width="610px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRoBYEhJgaDfyTqSN388VGUVmrIhRIsNUI4aXX9zcBdYq3UhuDr4AoIIrF9lauz3rYRfxBbXvtLVUjY/pubhtml?gid=0&amp;single=true&amp;widget=false&amp;headers=false&amp;chrome=false"></iframe>
</section>

<section class="fi-text">
  <h3>Turnausmaksu ja ilmoittautuminen</h3>
  <p>
    Turnaukseen osallistuminen maksaa 15€. Hintaan sisältyy pikkupurtavaa, kahvia ja teetä. Turnaukseen mahtuu 48 pelaajaa, minkä jälkeen ilmoittautuneet menevät varasijoille. Ilmoittautuminen sulkeutuu perjantaina 13.10. Pyydämme, että osallistumismaksut maksettaisiin seuran tilille myös tähän mennessä. Deadlinen jälkeen ilmoittautuminen on sitova eikä maksettuja osallistumismaksuja palauteta!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH (Osuuspankki) 
  </p>
  <p>
    Laita maksun tekstikenttään ”Great Wave 2023” ja nimesi. Esim. ”Great Wave 2023, Matti Meikäläinen”.
  </p>
  <p>
    <b>Kysymyksiä? Ota yhteyttä:</b> <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a>
  </p>
</section>
<section class="en-text">
  <h3>Tournament fee and registration</h3>
  <p>
    Participation in the tournament costs 15€. The price includes tea, coffee, and light snacks. There are 48 spots in the tournament. After this, you can still sign up for reserve spots, and will get in if someone cancels their registration. Deadline for registration is Friday 13.10. Players from abroad are allowed to pay on-site. However, if possible, we ask that you kindly pay the participation fee to our club’s bank account before the registration deadline. After the deadline the registration is binding and paid tournament fees will not be returned!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH
  </p>
  <p>
    Include ”Great Wave 2023” and your name in the payment text field. For example: ”Great Wave 2023, John Smith”. If you're paying for multiple players at once, please include all their names.
  </p>
  <p>
    <b>Any questions? Contact:</b> <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a>
  </p>
</section>
