<h1 class="fi-text">Turnaustulokset</h1>
<h1 class="en-text">Tournament results</h1>

<h2 class="fi-text">Great Wave 2019</h2>
<h2 class="en-text">Great Wave 2019</h2>
<img width="100%" src="img/GWT_voittajat_2019.jpg"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Yuanqi Shan, 2. sija: Samu Viitanen, 3. sija: Jouni Kuitunen. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/GWT2019_FinalResults.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Yuanqi Shan, 2nd place: Samu Viitanen, 3rd place: Jouni Kuitunen. Full results can be found <a href="docs/turnaustulokset/GWT2019_FinalResults.pdf">here</a>.
</p>

<h2 class="fi-text">Vuositurnaus 2019</h2>
<h2 class="en-text">Annual tournament 2019</h2>
<img width="100%" src="img/vuositurnaus_voittajat_2019.jpg"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Ossi Hirvola, 2. sija: Sakari Helokunnas, 3. sija: Jouni Kuitunen. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/vuositurnaus2019.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Ossi Hirvola, 2nd place: Sakari Helokunnas, 3rd place: Jouni Kuitunen. Full results can be found <a href="docs/turnaustulokset/vuositurnaus2019.pdf">here</a>.
</p>

<h2 class="fi-text">Syysturnaus 2018</h2>
<h2 class="en-text">Autumn tournament 2018</h2>
<img width="100%" src="img/syysturnaus_voittajat_2018.jpg"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Ossi Hirvola, 2. sija: Jouni Kuitunen, 3. sija: Iiro Kumpulainen. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/syysturnaus2018.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Ossi Hirvola, 2nd place: Jouni Kuitunen, 3rd place: Iiro Kumpulainen. Full results can be found <a href="docs/turnaustulokset/syysturnaus2018.pdf">here</a>.
</p>


<h2 class="fi-text">Great Wave Tournament 2018</h2>
<h2 class="en-text">Great Wave Tournament 2018</h2>
<img width="100%" src="img/GWT_voittajat_2018.png"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Ossi Hirvola, 2. sija: Konsta Lensu, 3. sija: Jesper N&#248;hr. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/GWT2018_FinalResults.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Ossi Hirvola, 2nd place: Konsta Lensu, 3rd place: Jesper N&#248;hr. Full results can be found <a href="docs/turnaustulokset/GWT2018_FinalResults.pdf">here</a>.
</p>

<h2 class="fi-text">Vuositurnaus 2018</h2>
<h2 class="en-text">Annual tournament 2018</h2>
<img width="100%" src="img/vuositurnaus_voittajat_2018.jpg"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Iiro Kumpulainen, 2. sija: Ossi Hirvola, 3. sija: Jouni Lehtinen. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/vuositurnaus2018.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Iiro Kumpulainen, 2nd place: Ossi Hirvola, 3rd place: Jouni Lehtinen. Full results can be found <a href="docs/turnaustulokset/vuositurnaus2018.pdf">here</a>.
</p>


<h2 class="fi-text">Syysturnaus 2017</h2>
<h2 class="en-text">Autumn tournament 2017</h2>
<img width="100%" src="img/syysturnaus_voittajat_2017.png"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Iiro Kumpulainen, 2. sija: Ossi Hirvola, 3. sija: Jouni Kuitunen. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/syysturnaus2017.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Iiro Kumpulainen, 2nd place: Ossi Hirvola, 3rd place: Jouni Kuitunen. Full results can be found <a href="docs/turnaustulokset/syysturnaus2017.pdf">here</a>.
</p>

<h2 class="fi-text">Mahjongin SM 2017</h2>
<h2 class="en-text">Finnish Riichi Mahjong Championships 2017</h2>
<img width="100%" src="img/SM_voittajat_2017.jpg"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Konsta Lensu, 2. sija: Jeremia Kunnari, 3. sija: Henri Kumpulainen. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/SM2017_FinalResults.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Konsta Lensu, 2nd place: Jeremia Kunnari, 3rd place: Henri Kumpulainen. Full results can be found <a href="docs/turnaustulokset/SM2017_FinalResults.pdf">here</a>.
</p>

<h2 class="fi-text">Great Wave Tournament 2017</h2>
<h2 class="en-text">Great Wave Tournament 2017</h2>
<img width="100%" src="img/GWT_voittajat_2017.png"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Sakari Helokunnas, 2. sija: Janne Hannikainen, 3. sija: Yuanqi Shan. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/GWT2017_FinalResults.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Sakari Helokunnas, 2nd place: Janne Hannikainen, 3rd place: Yuanqi Shan. Full results can be found <a href="docs/turnaustulokset/GWT2017_FinalResults.pdf">here</a>.
</p>

<h2 class="fi-text">Vuositurnaus 2017</h2>
<h2 class="en-text">Annual tournament 2017</h2>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Sakari Helokunnas, 2. sija: Konsta Lensu, 3. sija: Samu Viitanen. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/vuositurnaus2017.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Sakari Helokunnas, 2nd place: Konsta Lensu, 3rd place: Samu Viitanen. Full results can be found <a href="docs/turnaustulokset/vuositurnaus2017.pdf">here</a>.
</p>

<h2 class="fi-text">Syysturnaus 2016</h2>
<h2 class="en-text">Autumn tournament 2016</h2>
<img width="100%" src="img/syysturnaus_voittajat_2016.png"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Eero Ojala, 2. sija: Janne Hannikainen, 3. sija: Simeoni Kangasmaa. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/syysturnaus2016.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Eero Ojala, 2nd place: Janne Hannikainen, 3rd place: Simeoni Kangasmaa. Full results can be found <a href="docs/turnaustulokset/syysturnaus2016.pdf">here</a>.
</p>

<h2 class="fi-text">Great Wave Tournament 2016</h2>
<h2 class="en-text">Great Wave Tournament 2016</h2>
<img width="100%" src="img/GWT_voittajat_2016.png"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Yuanqi Shan, 2. sija: Henri Kumpulainen, 3. sija: Kai Heikkilä. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/GWT_FinalResults.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Yuanqi Shan, 2nd place: Henri Kumpulainen, 3rd place: Kai Heikkilä. Full results can be found <a href="docs/turnaustulokset/GWT_FinalResults.pdf">here</a>.
</p>

<h2 class="fi-text">Vuositurnaus 2016</h2>
<h2 class="en-text">Annual tournament 2016</h2>
<img width="100%" src="img/vuositurnaus_voittajat_2016.png"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Sakari Helokunnas, 2. sija: Eero Ojala, 3. sija: Janne Hannikainen. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/vuositurnaus2016.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Sakari Helokunnas, 2nd place: Eero Ojala, 3rd place: Janne Hannikainen. Full results can be found <a href="docs/turnaustulokset/vuositurnaus2016.pdf">here</a>.
</p>

<h2 class="fi-text">Syysturnaus 2015</h2>
<h2 class="en-text">Autumn tournament 2015</h2>
<img width="100%" src="img/syysturnaus_voittajat_2015.jpg"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Henri Kumpulainen, 2. sija: Allan Palmu, 3. sija: Sakari Helokunnas. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/syysturnaus2015.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Henri Kumpulainen, 2nd place: Allan Palmu, 3rd place: Sakari Helokunnas. Full results can be found <a href="docs/turnaustulokset/syysturnaus2015.pdf">here</a>.
</p>

<h2 class="fi-text">Vuositurnaus 2015</h2>
<h2 class="en-text">Annual tournament 2015</h2>
<img width="100%" src="img/vuositurnaus_voittajat_2015.jpg"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Konsta Lensu, 2. sija: Yuanqi Shan, 3. sija: Jouni Kuitunen. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/vuositurnaus2015.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Konsta Lensu, 2nd place: Yuanqi Shan, 3rd place: Jouni Kuitunen. Full results can be found <a href="docs/turnaustulokset/vuositurnaus2015.pdf">here</a>.
</p>

<h2 class="fi-text">Syysturnaus 2014</h2>
<h2 class="en-text">Autumn tournament 2014</h2>
<img width="100%" src="img/syysturnaus_voittajat_2014.jpg"/>
<p class="fi-text">Turnauksen voittajat olivat: 1. sija: Yuanqi Shan, 2. sija: Miika Piiroinen, 3. sija: Sakari Helokunnas. Tarkemmat tulokset löytyvät <a href="docs/turnaustulokset/syysturnaus2014.pdf">täältä</a>.
</p>
<p class="en-text">Winners of the tournament are: 1st place: Yuanqi Shan, 2nd place: Miika Piiroinen, 3rd place: Sakari Helokunnas. Full results can be found <a href="docs/turnaustulokset/syysturnaus2014.pdf">here</a>.
</p>
