<h1 class="fi-text">Aallonharja 2024</h1>
<h1 class="en-text">Aallonharja 2024</h1>

<section class="fi-text">
  <p>
    <a href="https://docs.google.com/forms/d/1IYk5XicusOd9fESA2wupPuzZvGR7vMmgcRgi5Eo0Nf4">Ilmoittautumislomakkeeseen tästä!</a> <!--Google forms, nimi, maili, puhnro?, allergiat?, setti/matto?, miten maksaa -->
  </p>
  <p>
    Aalto Daigaku Maajanbu ry järjestää pääsiäisenä 29.3.–31.3.2024 kolmipäiväisen mahjongtunauksen Otaniemessä! Mukaan mahtuu 32 pelaajaa, ja turnaus on mukana Suomen MFRS-järjestelmässä. Kyseessä <b>ei</b> ole EMA-turnaus.
  </p>
</section>
<section class="en-text">
  <p>
    <a href="https://docs.google.com/forms/d/1IYk5XicusOd9fESA2wupPuzZvGR7vMmgcRgi5Eo0Nf4">Registration form here!</a> <!--Google forms, nimi, maili, puhnro?, allergiat?, setti/matto?, miten maksaa -->
  </p>
  <p>
    Aalto Daigaku Maajanbu ry is organizing a three-day mahjong tournament on Easter Fri–Sun, March 29th–31st 2024 in Otaniemi! The tournament has room for 32 people, and will be MFRS-ranked (Mahjong Finland ranking system). The tournament is <b>not</b> MERS.
  </p>
</section>

<section class="fi-text">
  <h3>Sijainti</h3>
  <p>
    Turnaus järjestetään baari Taproom d20:ssä Otaniemessä, parin minuutin kävelymatkan päässä Otaniemen metroasemalta. Osoite on Otakaari 27, 02150 Espoo. Matkan suunnittelussa auttaa <a href="https://reittiopas.hsl.fi/reitti/-/Otakaari%2027%2C%20Espoo%3A%3A60.184387%2C24.830509?locale=fi&setTime=true&time=1711704600">HSL:n reittiopas</a>.
  </p>
  <p>
    Turnauspaikan lähistöllä on useita ravintoloita, joitain kävelyetäisyydellä, ja yhden metropysäkin päässä on Tapiolan ostoskeskus. Paikan päällä on tarjolla pikkupurtavaa. Huomioithan kuitenkin, että pääsiäisen vuoksi ravintolat saattavat olla auki poikkeuksellisin aikatauluin.
  </p>
</section>
<section class="en-text">
  <h3>Location</h3>
  <p>
    The tournament will be held at the bar Taproom d20, a few minutes’ walk from the Otaniemi metro station. The address is Otakaari 27, 02150 Espoo. To help plan your trip, you can use <a href="https://reittiopas.hsl.fi/reitti/-/Otakaari%2027%2C%20Espoo%3A%3A60.184387%2C24.830509?locale=en&setTime=true&time=1711704600">the HSL public transport route planner</a>.
  </p>
  <p>
    There are some restaurants within walking distance, as well as quickly accessible by subway. There are also light snacks available. Please note that some restaurants may be closed due to Easter.
  </p>
</section>

<section>
  <h3 class="fi-text">Aikataulu (<a href="img/Aallonharja_2024.ics">Lisää kalenteriin</a>)</h3>  
  <h3 class="en-text">Schedule (<a href="img/Aallonharja_2024.ics">Import to calendar</a>)</h3>
  <h5 class="fi-text" style="margin-top: -0.2em;">Huom: kesäaika alkaa su 31.3. klo 03:00 → 04:00.</h5>  
  <h5 class="en-text" style="margin-top: -0.2em;">Please note that DST begins on Sunday 31.3. 03:00 → 04:00.</h5>
  <table>
    <tr>
      <td colspan="2" class="fi-text">Perjantai 29.3.</td>
      <td colspan="2" class="en-text">Friday March 29th</td>
      <td colspan="2" class="fi-text">Lauantai 30.3.</td>
      <td colspan="2" class="en-text">Saturday March 30th</td>
      <td colspan="2" class="fi-text">Sunnuntai 31.3.</td>
      <td colspan="2" class="en-text">Sunday March 31st</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>9:30–11:00</td>
      <td class="fi-text">5. Hanchan</td>
      <td class="en-text">5th Hanchan</td>
      <td>9:30–11:00</td>
      <td class="fi-text">9. Hanchan</td>
      <td class="en-text">9th Hanchan</td>
    </tr>
    <tr>
      <td>11:15–11:45</td>
      <td class="fi-text">Ilmoittautuminen</td>
      <td class="en-text">Registration</td>
      <td>11:15–12:45</td>
      <td class="fi-text">6. Hanchan</td>
      <td class="en-text">6th Hanchan</td>
      <td>11:15–12:45</td>
      <td class="fi-text">10. Hanchan</td>
      <td class="en-text">10th Hanchan</td>
    </tr>
    <tr>
      <td>12:00–13:30</td>
      <td class="fi-text">1. Hanchan</td>
      <td class="en-text">1st Hanchan</td>      
      <td>12:45–13:45</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
      <td>12:45–13:45</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
    </tr>
    <tr>
      <td>13:45–15:15</td>
      <td class="fi-text">2. Hanchan</td>
      <td class="en-text">2nd Hanchan</td>
      <td>13:45–15:15</td>
      <td class="fi-text">7. Hanchan</td>
      <td class="en-text">7th Hanchan</td>
      <td>13:45–15:15</td>
      <td class="fi-text">11. Hanchan</td>
      <td class="en-text">11th Hanchan</td>
    </tr>
    <tr>
      <td>15:15–16:15</td>
      <td class="fi-text">Lounastauko</td>
      <td class="en-text">Lunch break</td>
      <td>15:30–17:00</td>
      <td class="fi-text">8. Hanchan</td>
      <td class="en-text">8th Hanchan</td>
      <td>15:30–17:00</td>
      <td class="fi-text">12. Hanchan</td>
      <td class="en-text">12th Hanchan</td>
    </tr>
    <tr>
      <td>16:15–17:45</td>
      <td class="fi-text">3. Hanchan</td>
      <td class="en-text">3rd Hanchan</td>
      <td colspan="2"></td>
      <td>17:15–17:30</td>
      <td class="fi-text">Palkintojenjako</td>
      <td class="en-text">Award Ceremony</td>
    </tr>
    <tr>
      <td>18:00–19:30</td>
      <td class="fi-text">4. Hanchan</td>
      <td class="en-text">4th Hanchan</td>
      <td colspan="2"></td>
      <td colspan="2"></td>
    </tr>
  </table>
  <p class="fi-text">
    Lauantaina pidämme myös Taproomilla jatkotapahtuman haluaville, jossa voi mm. pelata lisää mahjongia.
  </p>
  <p class="en-text">
    On Saturday, we will also host an afterparty at Taproom, where you are free to e.g. play more mahjong.
  </p>
</section>

<section>
  <h3 class="fi-text">Ilmoittautuneet osallistujat</h3>  
  <h3 class="en-text">Registered participants</h3>
  <p>
    Jouni Lehtinen <br />
    Essi Viinikka <br />
    Niko Nurro <br />
    Anne-Mari Haapsamo <br />
    Henri Haapsamo <br />
    Henri Vataja <br />
    Ari Nalle <br />
    Kristiina Kuusela <br />
    Henri Mäkelä <br />
    Vilhelmiina Viinikka <br />
    Tommi Ikonen <br />
    Mimmi Lehtonen <br />
    Matias Tran <br />
    Joni Jokinen <br />
    Joel Siirto <br />
    Janne Eskola <br />
    Anselmi Ahonen <br />
    Konsta Lensu <br />
    Matti Kauppinen <br />
    Ella Junttari <br />
    Petteri Kärki <br />
    Joonas Valkama <br />
    Mikko Aarnos <br />
    Thu Dinh <br />
    Utu Kalliokoski <br />
    Eetu Huusko <br />
    Paul Rantanen <br />
    Jouni Kuitunen <br />
    Auvo Kuusela <br />
    Kim Kihlström <br />
  </p>
  <p>Total: 30/32. <span class="fi-text">Päivitetty</span><span class="en-text">Updated</span> 18:01, 10.03.2024</p>
</section>

<section class="fi-text">
  <h3>Turnausmaksu ja ilmoittautuminen</h3>
  <p>
    Turnaukseen osallistuminen maksaa 20€. Hintaan sisältyy kahvia ja teetä sekä pikkupurtavaa. Järjestämme myös lounastarjoilua, jonka hinta ei sisälly turnausmaksuun. Asiasta tulee tarkempaa infoa lähiviikkoina.
  </p>
  <p>
    Turnaukseen mahtuu 32 pelaajaa, minkä jälkeen ilmoittautuneet menevät varasijoille. Ilmoittautuminen sulkeutuu perjantaina 22.3. Pyydämme, että osallistumismaksut maksettaisiin seuran tilille myös tähän mennessä. Deadlinen jälkeen ilmoittautuminen on sitova eikä maksettuja osallistumismaksuja palauteta!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH (Osuuspankki) 
  </p>
  <p>
    Laita maksun tekstikenttään ”Aallonharja 2024” ja nimesi. Esim. ”Aallonharja 2024, Matti Meikäläinen”.
  </p>
  <p>
    <b>Kysymyksiä? Ota yhteyttä:</b> <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a>
  </p>
</section>
<section class="en-text">
  <h3>Tournament fee and registration</h3>
  <p>
    Participation in the tournament costs 20€. The price includes tea, coffee, and light snacks. We will also arrange for some lunch at the venue, but this is not included in the participation price. Details will be added here in the coming weeks.
  </p>
  <p>
    There are 32 spots in the tournament. After this, you can still sign up for reserve spots, and will get in if someone cancels their registration. Deadline for registration is Friday March 22nd. Players from abroad are allowed to pay on-site. However, if possible, we ask that you kindly pay the participation fee to our club’s bank account before the registration deadline. After the deadline the registration is binding and paid tournament fees will not be returned!
  </p>
  <p>
    Aalto Daigaku Maajanbu ry <br/>
    FI81 5780 4120 0541 73 OKOYFIHH
  </p>
  <p>
    Include ”Aallonharja 2024” and your name in the payment text field. For example: ”Aallonharja 2024, John Smith”. If you're paying for multiple players at once, please include all their names.
  </p>
  <p>
    <b>Any questions? Contact:</b> <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a>
  </p>
</section>
