<h1 class="fi-text">Great Wave 2020</h1>
<h1 class="en-text">Great Wave 2020</h1>

<!-- nice header image here -->

<h3 class="fi-text"><a href="https://forms.gle/qkbLTUQHbz48CbCd6" target="_blank"><b>Ilmoittautumislomakkeeseen tästä!</b></a></h3>
<h3 class="en-text"><a href="https://forms.gle/qkbLTUQHbz48CbCd6" target="_blank"><b>Registration form here!</b></a></h3>

<p class="fi-text">アールト大学麻雀部 (Aalto Daigaku Maajanbu ry) järjestää Riichi-mahjongturnauksen 4-5.4.2020. Turnaus on MFRS-turnaus.</p>
<p class="en-text">アールト大学麻雀部 (Aalto Daigaku Maajanbu ry) is organizing the fifth Great Wave tournament on Sat-Sun 4-5.4.2020. The tournament will be a MFRS tournament, but not a MERS tournament. The ruleset will be the EMA's <a href="http://mahjong-europe.org/portal/images/docs/Riichi-rules-2016-EN.pdf">Riichi Competition Rules</a>.</p>

<p class="fi-text">Lisäämme ilmoittautuneet turnaussivulle ja päivitämme listaa mahdollisimman usein, jotta kaikki tietävät, että ilmoittautuminen on hyväksytty. Turnaukseen mahtuu maksimissaan 32 henkeä. Jos joku ilmestyy paikalle ilmoittautumatta ja on valmis maksamaan pääsymaksun käteisellä, hän joutuu varapelaajaksi eli jos pelaajien määrä silloin ei ole jaollinen neljällä, hän ei pääse pelaamaan. Pyrimme tarjoamaan varapelaajia siten, ettei kukaan jäisi turnauksen ulkopuolelle.</p>
<p class="en-text">We will be updating the list of players on the tournament page as people sign up. The maximum number of players in the tournament is 32. If someone arrives at the tournament without having signed up and is ready to pay the admission fee in cash, they can be taken in as a reserve player, i.e. they will play if the number of players wouldn't be divisible by 4 otherwise. We will do our best to provide enough reserve players so that everyone who signs up can play.</p>

<h3 class="fi-text">Sijainti</h3>
<h3 class="en-text">Location</h3>
<p class="fi-text">Turnaus järjestetään Aalto-Yliopiston Design Factoryllä Otaniemessä, 10 minuutin kävelymatkan päässä Otaniemen metroasemalta. Osoite on Betonimiehenkuja 5C. Matkan suunnittelussa auttaa <a href="http://www.reittiopas.fi">http://www.reittiopas.fi/.</a></p>
<p class="en-text">The tournament will be held at the Aalto University Design Factory, at a 10 minute walk from the Otaniemi metro station. The address is Betonimiehenkuja 5C. To help plan your trip, you can use <a href="http://www.reittiopas.fi/en">http://www.reittiopas.fi/en</a>.</p>

<!--
<h3 class="fi-text">Majoitus</h3>
<p class="fi-text">Halutessa on mahdollista viettää lauantain ja sunnuntain välinen yö yhteismajoituksessa AYY:n vierasmajassa Otaniemessä, kävelymatkan päässä turnauspaikalta. Majoitus on hostellityylinen yhteismajoitus turnauksen osallistuvien kesken. Majaan sisältyy supistettu keittiö ilman hellaa ja vesipistettä (sis. mikro+jääkaappi+astioita) ja wc/suihkutilat. Majoitus maksaa 10€ yöltä. Kuvia majoitustilasta löytyy alta.</p>

<h3 class="en-text">Accommodation</h3>
<p class="en-text">It is possible to stay the night between Saturday and Sunday in AYY's guestrooms in Otaniemi, a walking distance from the tournament hall. The accommodation is a hostel-style dormitory, where you can stay with other tournament participants. The room includes a small kitchen and showers/toilets. Notice that the kitchen doesn’t have a stove or a faucet, only a microwave, fridge and dishes. The accommodation costs 10€ per night.</p>

<img width="100%" src="https://ayy.fi/wp-content/uploads/vierasmaja_ylakerta1_web.jpg?x51465"/>
<img width="100%" src="https://ayy.fi/wp-content/uploads/vierasmaja_ylakerta2_web.jpg?x51465"/>

-->

<h3 class="fi-text">Aikataulu</h3>
<h3 class="en-text">Schedule</h3>
<p class="fi-text">Lauantai 4.4.</br>
11:45–12:15 Ilmoittautuminen</br>
12:30–14:00 1. Hanchan </br>
14:00–14:15 Tauko </br>
14:15–15:45 2. Hanchan </br>
15:45–17:00 Lounastauko </br>
17:00–18:30 3. Hanchan </br>
18:30–18:45 Tauko </br>
18:45–20:15 4. Hanchan </br>
</br>
Sunnuntai 5.4.</br>
09:30–10:00 Ilmoittautuminen</br>
10:00–11:30 5. Hanchan</br>
11:30–11:45 Tauko</br>
11:45–13:15 6. Hanchan</br>
13:15–14:30 Lounastauko</br>
14:30–16:00 7. Hanchan</br>
16:00–16:15 Tauko</br>
16:15–17:45 8. Hanchan</br>
17:45–18:15 Palkintojenjako</br>
</p>
<p class="en-text">Saturday 4.4.</br>
11:45–12:15 Registration</br>
12:30–14:00 1st Hanchan</br>
14:00–14:15 Break</br>
14:15–15:45 2nd Hanchan</br>
15:45–17:00 Lunch break</br>
17:00–18:30 3rd Hanchan</br>
18:30–18:45 Break</br>
18:45–20:15 4th Hanchan</br>
</br>
Sunday 5.4.</br>
09:30–10:00 Registration</br>
10:00–11:30 5th Hanchan</br>
11:30–11:45 Break</br>
11:45–13:15 6th Hanchan</br>
13:15–14:30 Lunch break</br>
14:30–16:00 7th Hanchan</br>
16:00–16:15 Break</br>
16:15–17:45 8th Hanchan</br>
17:45–18:15 Award ceremony</br>
</p>


<h3 class="fi-text">Turnausmaksu ja ilmoittautuminen</h3>
<h3 class="en-text">Tournament fee and registration</h3>
<p class="fi-text">
Turnaukseen osallistuminen maksaa 15€, joka sisältää välipalaa ja juomista. 
Kävelymatkan päässä turnauspaikalta on joitakin ravintoloita. </br>
Ilmoittautuminen sulkeutuu sunnuntaina 29.3. 
Pyydämme, että osallistumismaksut maksettaisiin seuran tilille myös tähän mennessä. 
Deadlinen jälkeen ilmoittautuminen on sitova eikä maksettuja osallistumismaksuja palauteta!</b></br>
</br>
Aalto Daigaku Maajanbu ry </br>
FI81 5780 4120 0541 73 OKOYFIHH (Osuuspankki) </br>
</br>
Laita maksun tekstikenttään ”Great Wave 2020” ja nimesi. Esim. ”Great Wave 2020, Matti Meikäläinen”.</p>
<p class="en-text">
Participation in the tournament costs 15€, which includes snacks and drinks. 
We will not provide lunch, but there are restaurants within walking distance. </br> 
The deadline for registration is on Sunday 29.3.2020. 
Players from abroad are allowed to pay on-site. However, if possible, we ask that you kindly pay the participation fee to our club’s bank account before the registration deadline. 
After the deadline the registration is binding and paid tournament fees will not be returned!</b></br>
</br>
Aalto Daigaku Maajanbu ry </br>
FI81 5780 4120 0541 73 OKOYFIHH </br>
</br>
Include ”Great Wave 2020” and your name in the payment text field. For example: ”Great Wave 2020, John Smith”. If you're paying for multiple players at once, please include all their names.</p>

<p class="fi-text">Kysymyksiä? Ota yhteyttä: <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a></p>
<p class="en-text">Any questions? Contact: <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a></p>

<h3 class="fi-text">Lista ilmoittautuneista</h3>
<h3 class="en-text">List of participants</h3>
<ol>
    <li>Konsta Lensu</li>
    <li>Mimmi Lehtonen</li>
    <li>Petteri Huuskonen</li>
    <li>Jouni Kuitunen</li>
    <li>Eemil Aikio</li>
    <li>Erika Jensen-Eriksen</li>
    <li>Anne-Mari Haapsamo</li>
    <li>Joni Virolainen</li>
    <li>Niko Nurro</li>
    <li>Pauli Hemmi</li>
    <li>Wataru Yamazaki</li>
    <li>Tommi Ikonen</li>
    <li>Meri Rajamäki</li>
    <li>Jouni Lehtinen</li>
    <li>Juhani Heliö</li>
</ol>
<p class="fi-text"> Päivitetty 14:54 08.03.2020 <br/>
<p class="en-text"> Last updated 14:54 08.03.2020 <br/>

<p class="fi-text">4-5.4.2020 pidettäväksi suunniteltu Great Wave 2020-turnaus on peruttu COVID-2019-uhan vuoksi.</p>
<p class="en-text">The fifth Great Wave tournament on Sat-Sun 4-5.4.2020 has been cancelled due to the COVID-2019 pandemic.</p>

<p class="fi-text">Jos olet jo maksanut osallistumismaksun etkä ole saanut rahoja takaisin, tai herää muita kysymyksiä, ota yhteyttä: <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a></p>
<p class="en-text">If you already paid the participation fee and have not been refunded yet, or have any other questions, please contact: <a href="mailto:mahjong-hallitus@list.ayy.fi">mahjong-hallitus@list.ayy.fi</a></p>

<p class="fi-text"> Päivitetty 18:40 14.03.2020 <br/>
<p class="en-text"> Last updated 18:40 14.03.2020 <br/>
    