<h1 class="fi-text">Yhdistys</h1>
<h1 class="en-text">Association</h1>
<p class="fi-text">
Aalto Daigaku Maajanbu ry (tuttavallisemmin アールト大学麻雀部) on Espoossa toimiva Aalto-yliopiston Ylioppilaskunnan (AYY) yhteydessä toimiva yhdistys, joka perustettiin syyskuussa 2013 yhdistämään Riichi-mahjongin pelaajia ja edistämään mahjongin tuntemusta Aalto-yliopiston piirissä. Voit lukea Mahjongista lisää <a href="#/mahjong">täältä</a>. 
</p>
<p class="en-text">
Aalto Daigaku Maajanbu ry (or アールト大学麻雀部) is an Espoo-based association founded in September 2013 to bring together players of Riichi mahjong and promote mahjong at Aalto University. You can read more about mahjong <a href="#/mahjong">here</a>. 
</p>
<p class="fi-text">
Yhdistyksemme on tarkoitettu kaikille Riichi-mahjongista kiinnostuneille. Toimintaan kuuluvat lukukausien aikana jokaviikkoiset peli-illat, erilaiset turnaukset ja ekskursiot. Tapahtumamme ovat täysin alkoholittomia ja tarkoitettu vain jäsenille. Mikäli olet kiinnostunut toiminnastamme, täytä jäsenlomake <a href="#/liity">täällä</a>. Jäsenyys on maksuton eikä velvoita mihinkään.
</p>
<p class="en-text">
Our association is open for everyone interested in Riichi mahjong. Our activities include weekly mahjong sessions during semesters as well as tournaments and excursions. Our events are alcohol-free and meant only for members. If you're interested in our activities, fill the member form <a href="#/liity">here</a>. Membership is free and does not oblige to anything.
</p>
<p class="fi-text"><b><a href="docs/">Yhdistyksen asiakirja-arkisto</a></b></p>
<p class="en-text"><b><a href="docs/">Association archive of documents</a></b></p>
<h1 class="fi-text">Hallitus</h1>
<h1 class="en-text">Board of directors</h1>

<table>
  <caption class="fi-text">Hallitus 2021</caption>
  <caption class="en-text">Board of directors 2021</caption>
  <tr>
    <td class="fi-text">Puheenjohtaja</td>
    <td class="en-text">Chairman</td>
    <td>Yuanqi Shan</td>
  </tr>
  <tr>
    <td class="fi-text">Rahastonhoitaja</td> 
    <td class="en-text">Treasurer</td> 
    <td>Jaakko Takala</td>
  </tr>
  <tr>
    <td class="fi-text">Sihteeri</td>
    <td class="en-text">Secretary</td> 
    <td>Petteri Huuskonen</td>
  </tr>
</table>
<br>


<table>
  <caption class="fi-text">Hallitus 2020</caption>
  <caption class="en-text">Board of directors 2020</caption>
  <tr>
    <td class="fi-text">Puheenjohtaja</td>
    <td class="en-text">Chairman</td>
    <td>Petteri Huuskonen</td>
  </tr>
  <tr>
    <td class="fi-text">Varapuheenjohtaja</td>
    <td class="en-text">Vice Chairman</td>
    <td>Yuanqi Shan</td>
  </tr>
  <tr>
    <td class="fi-text">Rahastonhoitaja</td> 
    <td class="en-text">Treasurer</td> 
    <td>Jaakko Takala</td>
  </tr>
  <tr>
    <td class="fi-text">Sihteeri</td>
    <td class="en-text">Secretary</td> 
    <td>Jussi Huotari</td>
  </tr>
</table>
<br>

<table>
  <caption class="fi-text">Hallitus 2019</caption>
  <caption class="en-text">Board of directors 2019</caption>
  <tr>
    <td class="fi-text">Puheenjohtaja</td>
    <td class="en-text">Chairman</td>
    <td>Petteri Huuskonen (petzku)</td>
  </tr>
  <tr>
    <td class="fi-text">Varapuheenjohtaja</td>
    <td class="en-text">Vice Chairman</td>
    <td>Yuanqi Shan (avalon)</td>
  </tr>
  <tr>
    <td class="fi-text">Rahastonhoitaja</td> 
    <td class="en-text">Treasurer</td> 
    <td>Henri Kumpulainen (pena9876)</td>
  </tr>
  <tr>
    <td class="fi-text">Sihteeri</td>
    <td class="en-text">Secretary</td> 
    <td>Iiro Kumpulainen</td>
  </tr>
</table>
<br>

<table>
  <caption class="fi-text">Hallitus 2018</caption>
  <caption class="en-text">Board of directors 2018</caption>
  <tr>
    <td class="fi-text">Puheenjohtaja</td>
    <td class="en-text">Chairman</td>
    <td>Ossi Hirvola (kaurakeksi)</td>
  </tr>
  <tr>
    <td class="fi-text">Varapuheenjohtaja</td>
    <td class="en-text">Vice Chairman</td>
    <td>Yuanqi Shan (avalon)</td>
  </tr>
  <tr>
    <td class="fi-text">Rahastonhoitaja</td> 
    <td class="en-text">Treasurer</td> 
    <td>Henri Kumpulainen (pena9876)</td>
  </tr>
  <tr>
    <td class="fi-text">Sihteeri</td>
    <td class="en-text">Secretary</td> 
    <td>Petteri Huuskonen (petzku)</td>
  </tr>
</table>
<br>

<table>
  <caption class="fi-text">Hallitus 2017</caption>
  <caption class="en-text">Board of directors 2017</caption>
  <tr>
    <td class="fi-text">Puheenjohtaja</td>
    <td class="en-text">Chairman</td>
    <td>Ossi Hirvola (kaurakeksi)</td>
  </tr>
  <tr>
    <td class="fi-text">Varapuheenjohtaja</td>
    <td class="en-text">Vice Chairman</td>
    <td>Yuanqi Shan (avalon)</td>
  </tr>
  <tr>
    <td class="fi-text">Rahastonhoitaja</td> 
    <td class="en-text">Treasurer</td> 
    <td>Henri Kumpulainen (pena9876)</td>
  </tr>
  <tr>
    <td class="fi-text">Sihteeri</td>
    <td class="en-text">Secretary</td> 
    <td>Samu Viitanen (smehu)</td>
  </tr>
</table>
<br>

<table>
  <caption class="fi-text">Hallitus 2016</caption>
  <caption class="en-text">Board of directors 2016</caption>
  <tr>
    <td class="fi-text">Puheenjohtaja</td>
    <td class="en-text">Chairman</td>
    <td>Ossi Hirvola (kaurakeksi)</td>
  </tr>
  <tr>
    <td class="fi-text">Varapuheenjohtaja</td>
    <td class="en-text">Vice Chairman</td>
    <td>Yuanqi Shan (avalon)</td>
  </tr>
  <tr>
    <td class="fi-text">Rahastonhoitaja</td> 
    <td class="en-text">Treasurer</td> 
    <td>Henri Kumpulainen (pena9876)</td>
  </tr>
  <tr>
    <td class="fi-text">Sihteeri</td>
    <td class="en-text">Secretary</td> 
    <td>Samu Viitanen (smehu)</td>
  </tr>
</table>
<br>
<table>
  <caption class="fi-text">Hallitus 2015</caption>
  <caption class="en-text">Board of directors 2015</caption>
  <tr>
    <td class="fi-text">Puheenjohtaja</td>
    <td class="en-text">Chairman</td>
    <td>Ossi Hirvola (kaurakeksi)</td>
  </tr>
  <tr>
    <td class="fi-text">Varapuheenjohtaja</td>
    <td class="en-text">Vice Chairman</td>
    <td>Lauri Isojärvi (legan)</td>
  </tr>
  <tr>
    <td class="fi-text">Rahastonhoitaja</td> 
    <td class="en-text">Treasurer</td> 
    <td>Henri Kumpulainen (pena9876)</td>
  </tr>
  <tr>
    <td class="fi-text">Sihteeri</td>
    <td class="en-text">Secretary</td> 
    <td>Samu Viitanen (smehu)</td>
  </tr>
</table>
<br>
<table>
  <caption class="fi-text">Hallitus 2014</caption>
  <caption class="en-text">Board of directors 2014</caption>
  <tr>
    <td class="fi-text">Puheenjohtaja</td>
    <td class="en-text">Chairman</td>
    <td>Ossi Hirvola (kaurakeksi)</td>
  </tr>
  <tr>
    <td class="fi-text">Varapuheenjohtaja</td>
    <td class="en-text">Vice Chairman</td>
    <td>Jussi Huotari (JusA`)</td>
  </tr>
  <tr>
    <td class="fi-text">Rahastonhoitaja</td> 
    <td class="en-text">Treasurer</td> 
    <td>Henri Kumpulainen (pena9876)</td>
  </tr>
  <tr>
    <td class="fi-text">Sihteeri</td>
    <td class="en-text">Secretary</td> 
    <td>Samu Viitanen (smehu)</td>
  </tr>
</table>
