<h1 class="fi-text">Yhteystiedot</h1>
<h1 class="en-text">Contact</h1>
<table>
  <caption class="fi-text">Yhteystiedot</caption>
  <caption class="en-text">Contact</caption>
  <tr>
    <td>Discord</td>
    <td class="fi-text"><a href="https://discord.gg/HmfAcWd">Paina tästä</a></td>
    <td class="en-text"><a href="https://discord.gg/HmfAcWd">Click Here</a></td>
  </tr>
  <tr>
    <td class="fi-text">Sähköposti</td>
    <td class="en-text">Email</td>
    <td><a href="mailto:mahjong-hallitus@list.ayy.fi" target="_top">mahjong-hallitus@list.ayy.fi</a></td>
  </tr>
</table>